#define($body-html)
<span>Change <span style="font-style: italic">' $!originalUrlPathEnd '</span> to </span></span> <input style="text" id="new" placeholder="/...">
#end

#parse("/views/modals/modal-main.html")