<div class="form-group">
    <div class="list-group">
        #foreach($block in $CONTEXT[$CONSTANTS.blocks.core.NEW_BLOCK_TEMPLATES])
        ## Note: constant will pierce through the click-blocker
        ## Note: we need the extra evaluate to support dynamic titles (eg. $MESSAGES.bla.bla)
            <a href="javascript:void(0)" class="list-group-item" data-value="#evaluate($block[$CONSTANTS.blocks.core.NEW_BLOCK_NAME])" $CONSTANTS.blocks.core.FORCE_CLICK_ATTR>
                <div class="preview">
                    <i class="fa #if($block[$CONSTANTS.blocks.core.NEW_BLOCK_ICON])#evaluate($block[$CONSTANTS.blocks.core.NEW_BLOCK_ICON])#{else}fa-square-o#end"></i>
                </div>
                <div class="caption">
                    <span class="title">#evaluate($block[$CONSTANTS.blocks.core.NEW_BLOCK_TITLE])</span>
                    <span class="description">#evaluate($block[$CONSTANTS.blocks.core.NEW_BLOCK_DESCRIPTION])</span>
                </div>
            </a>
        #end
    </div>
</div>