<div class="form-group">
    <div class="list-group">
        #foreach($block in $CONTEXT[$CONSTANTS.blocks.core.NEW_BLOCK_TEMPLATES])
        ## Note: constant will pierce through the click-blocker
            <a href="javascript:void(0)" class="list-group-item" data-value="$block[$CONSTANTS.blocks.core.NEW_BLOCK_NAME]" $CONSTANTS.blocks.core.FORCE_CLICK_ATTR>
                <div class="preview">
                    <i class="fa fa-fw #if($block[$CONSTANTS.blocks.core.NEW_BLOCK_ICON])$block[$CONSTANTS.blocks.core.NEW_BLOCK_ICON]#{else}fa-square-o#end"></i>
                </div>
                <div class="caption">
                    <h4>$block[$CONSTANTS.blocks.core.NEW_BLOCK_TITLE]</h4>

                    <p>
                        $block[$CONSTANTS.blocks.core.NEW_BLOCK_DESCRIPTION]
                    </p>
                </div>
            </a>
        #end
    </div>
</div>