#constants("blocks.core")

<div class="form-group sub-container">
    <label>$I18N.blocks.core.selectFromTheListBelow</label>
    <div class="list-group">
        #foreach($block in $templates)
            ## Note: constant will pierce through the click-blocker
            <a href="javascript:void(0)" class="list-group-item" data-value="$block.name" $CONSTANTS.blocks.core.FORCE_CLICK_ATTR>
                <div class="preview">
                    <i class="fa fa-fw #if($block.icon)$block.icon#{else}fa-square-o#end"></i>
                </div>
                <div class="caption">
                    <h4>$block.title</h4>
                    <p>
                        $block.description
                    </p>
                </div>
            </a>
        #end
    </div>
</div>

