<div blueprint="mot-menu" lang="nl" not-addable-block>
    <div class="row">
        <h1 class="col-md-2" id="logo"><a href="/" title="">MOT</a></h1>
        <div class="col-md-10">
            <div id="navigation">
                <div class="row">
                    <div class="col-md-12 contact">
                        <ul>
                            <li>+32 2 270 81 11</li>
                            <li><a href="mailto:info@mot.be" title="">info@mot.be</a></li>
                        </ul>
                    </div>
                </div>
                <div id="accessibility" class="row">
                    <div class="col-md-12">
                        <div class="fontsize">
                            <ul>
                                <li class="smaller"><a href="" title="">A</a></li>
                                <li class="larger"><a href="" title="">A</a></li>
                            </ul>
                        </div>
                        <nav property="languages" class="languages" use-blueprint="translation-list">
                            <!--##TODO BAS!: these divs shouldn't be necessary
                            -->
                            <div></div>
                        </nav>
                    </div>
                </div>
                <div id="menu" class="row">
                    <nav class="col-md-9">
                        <ul>
                            <li><a property="button" name="museum" href="/museum" title="" can-edit>museum</a></li>
                            <li><a property="button" name="beleving" href="/beleving" title="" can-edit>beleving</a></li>
                            <li><a property="button" name="praktisch" href="/praktisch" title="" can-edit>praktisch</a></li>
                        </ul>
                    </nav>
                    <div class="col-md-3 search-button">
                        <a href="/opzoeken" title="">Opzoeken!</a>
                    </div>
                </div>
            </div>
        </div>
        <!--<span id="mobilebutton"><img src="../assets/media/images/mobilebutton.svg" alt=""/></span>-->
    </div>
</div>
