@import (reference) "/assets/webjars/bootstrap/3.3.4/less/variables.less";
@import (reference) "/assets/webjars/bootstrap/3.3.4/less/mixins/clearfix.less";
@import (reference) "/constants/blocks/core?type=less";

blocks-spacer {
  @import "/assets/styles/imports/blocks-spacer/variables.less";

  .clearfix;

  //mobile-first value, see below
  display: none;

  min-height: @defaultHeight;
  &.xs {
    min-height: @height_xs;
  }
  &.sm {
    min-height: @height_sm;
  }
  &.md {
    min-height: @height_md;
  }
  &.lg {
    min-height: @height_lg;
  }
  &.xl {
    min-height: @height_xl;
  }

  @media (min-width: @screen-sm-min) {
    display: block;
  }
}