//-----IMPORTS-----
@import (reference) "/assets/webjars/bootstrap/3.3.4/less/variables.less";
@import (reference) "/assets/webjars/bootstrap/3.3.4/less/mixins.less";
@import (reference) "/assets/webjars/bootstrap/3.3.4/less/forms.less";

//-----STYLES-----
blocks-fiche-entry {

  .clearfix();//seems to be necessary
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  [data-property="label"] {
    .make-md-column(4);
    font-weight: bold;
  }

  .value {
    .make-md-column(8);
  }
}