<div class="link-container" blueprint="link-container" can-layout can-edit>
    <div class="row">
        <div class="column col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <article property="link" class="column exhibition square" use-blueprint="exhibition">
                    </article>
                </div>
                <div class="col-md-4">
                    <article property="link" class="column exhibition square" use-blueprint="exhibition">
                    </article>
                </div>
                <div class="col-md-4">
                    <article property="link" class="column exhibition square" use-blueprint="exhibition">
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>