<div typeof="pagetitle" class="pagetitle" can-edit blueprint addable-block>
    <div class="row">
        <header class="col-md-12">
            <nav class="breadcrumb">
                <ul>
                    <li><a href="" title="">het MOT</a>\</li>
                    <li><span property="title" name="short" can-edit>museum</span></li>
                </ul>
            </nav>
            <h2 property="title" name="long" typeof="title" can-edit>Het museum</h2>
        </header>
    </div>
</div>