<div blueprint="text-with-border" class="bordered" blueprint-old >
    <div class="row">
        <div class="col-md-12">
            <div property="text" blueprint="text-block" class="text text-block">
                <div can-edit>
                    <h3 class="red">Info</h3>
                    <p>Open: elke weekdag van 9 tot 17 uur, van april tot oktober ook in het weekend van 14 tot 18 uur.</p>
                    <p>Plaats: het MOT | Museum voor de Oudere Technieken</p>
                    <p>Guldendal 20, 1850 Grimbergen</p>
                    <p>Tel. 02 270 81 11 – <a class="red" href="mailto:info@mot.be" title="">info@mot.be</a></p>
                </div>
            </div>
        </div>
    </div>
</div>