<div typeof="text" class="text text-block" blueprint addable-block>
    <div can-edit>
        <h3>Adres</h3>
        <p>het MOT | Museum voor de Oudere Technieken</p>
        <p>Guldendal 20 - 1950 Grimbergen</p>
        <p>T 02 270 81 11</p>
        <p>F 02 270 09 83</p>
        <p><a href="mailt:info@mot.be" title="">info@mot.be</a></p>
        <h3>Inkom</h3>
        <p>drie euro - volwassene</p>
        <p>een euro - kind (6-12)</p>
        <h3>In groep</h3>
        <p>andere openingstijden, speciale demonstraties, doe-bezoeken en doe-wandelingen kunnen al vanaf 10 personen.</p>
        <h3>Rondleidingen</h3>
        <p><strong>rondleidingen met gids:</strong></p>
        <ul>
            <li><p>Toerisme Brabantse kouters</p></li>
            <li><p>T 02 270 99 30</p></li>
            <li><p><a href="mailto:toerisme@brabantsekouters.be" title="">toerisme@brabantsekouters.be</a></p></li>
            <li><p>Toerisme Grimbergen</p></li>
            <li><p>02 260 12 96</p></li>
            <li><p><a href="mailto:toerisme@grimbergen.be" title="">toerisme@grimbergen.be</a></p></li>
        </ul>
    </div>
</div>