<div typeof="experience-page" blueprint template="menu-footer" lang="nl" can-layout>
    <div class="row">
        <div class="col-md-12">
            <div property="title" title="experience-title" typeof="pagetitle" class="pagetitle">
                <div class="row">
                    <header class="col-md-12">
                        <nav class="breadcrumb">
                            <ul>
                                <li><a href="" title="">het MOT</a>\</li>
                                <li><span property="title" name="short">beleving</span></li>
                            </ul>
                        </nav>
                        <h2 property="title" name="long" class="red" can-edit>Beleving</h2>
                    </header>
                </div>
            </div>
            <div property="experiences" class="link-container" typeof="link-container" can-layout>
                <div class="row">
                    <div class="col-md-4">
                        <article property="link" name="speelzolder" typeof="experience" class="experience square">
                            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="experience-title" can-edit>De speelzolder</h3>
                            </header>
                        </span>
                            </a>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article property="link" name="actie" typeof="experience" class="experience square">
                            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="experience-title" can-edit>“Does”, actie in het museum!</h3>
                            </header>
                        </span>
                            </a>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article property="link" name="demonstraties" typeof="experience" class="experience square">
                            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="experience-title" can-edit>Onze demonstraties</h3>
                            </header>
                        </span>
                            </a>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <article property="link" name="geocaching" typeof="experience" class="experience square">
                            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="experience-title" can-edit>Geocaching</h3>
                            </header>
                        </span>
                            </a>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article property="link" name="bakken" typeof="experience" class="experience square">
                            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="experience-title" can-edit>De “Bak-doe”, zelf brood bakken</h3>
                            </header>
                        </span>
                            </a>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article property="link" name="speuren" typeof="experience" class="experience square">
                            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="experience-title" can-edit>Speuren met Molly de Mot</h3>
                            </header>
                        </span>
                            </a>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <article property="link" name="scholen" typeof="bordered-link" class="bordered square bordered-link">
                            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="bordered-link-title" class="red" can-edit>Info voor scholen</h3>
                            </header>
                        </span>
                            </a>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article property="link" name="groepen" typeof="bordered-link" class="bordered square bordered-link">
                            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="bordered-link-title" class="red" can-edit>Info voor groepen</h3>
                            </header>
                        </span>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <div property="layout" name="1" typeof="whitespace" class="whitespace">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
            <div property="layout"  name="2" typeof="whitespace" class="whitespace">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
            <div property="layout"  name="3" typeof="whitespace" class="whitespace">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>