<div class="search-page" typeof="search-page" blueprint template="red-menu" can-layout>
    <div class="row">
        <div class="col-md-12">
            <div property="title" typeof="pagetitle" class="pagetitle" can-edit>
                <div class="row">
                    <header class="col-md-12">
                        <nav class="breadcrumb">
                            <ul>
                                <li><a href="" title="">het MOT</a>\</li>
                                <li><span property="title" name="short" can-edit>opzoeken</span></li>
                            </ul>
                        </nav>
                        <h2 property="title" name="long" class="red" can-edit>Opzoeken: onze databanken</h2>
                    </header>
                </div>
            </div>
            <div property="databases" class="link-container" typeof="link-container" blueprint can-layout>
                <div class="row">
                    <div class="column col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <article property="exhibition" name="werktuig" typeof="exhibition" class="column exhibition square">
                                    <a href="" title="">
                            <span class="square-inner bgbrown">
                                <header>
                                    <h3 property="exhibition-title" can-edit>Zoek dat werktuig! (ID-DOC)</h3>
                                </header>
                                <img property="exhibition-image" alt="" src=""/>
                            </span>
                                    </a>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article property="exhibition" name="handelscatalogi" typeof="exhibition" class="column exhibition square">
                                    <a href="" title="">
                            <span class="square-inner bgorange">
                                <header>
                                    <h3 property="exhibition-title" can-edit>Doorzoek Belgische Handelscatalogi van voor 1950 (RCB catalogi)</h3>
                                </header>
                                <img property="exhibition-image" alt="" src=""/>
                            </span>
                                    </a>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article property="exhibition" name="smidsetekens" typeof="exhibition" class="column exhibition square">
                                    <a href="" title="">
                            <span class="square-inner bgdarkblue">
                                <header>
                                    <h3 property="exhibition-title" can-edit>Spoor smidsetekens op</h3>
                                </header>
                                <img property="exhibition-image" alt="" src=""/>
                            </span>
                                    </a>
                                </article>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-4">
                                <article property="exhibition" name="bakovens" typeof="exhibition" class="column exhibition square">
                                    <a href="" title="">
                            <span class="square-inner bggreen">
                                <header>
                                    <h3 property="exhibition-title" can-edit>Red de bakovens!</h3>
                                </header>
                                <img property="exhibition-image" alt="" src=""/>
                            </span>
                                    </a>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article  property="exhibition" name="waterputten" typeof="exhibition" class="column exhibition square">
                                    <a href="" title="">
                            <span class="square-inner bgblue">
                                <header>
                                    <h3 property="exhibition-title" can-edit>Wat met de waterput?</h3>
                                </header>
                                <img property="exhibition-image" alt="" src=""/>
                            </span>
                                    </a>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article  property="exhibition" name="musea" typeof="exhibition" class="column exhibition square">
                                    <a href="" title="">
                            <span class="square-inner bgred">
                                <header>
                                    <h3 property="exhibition-title" can-edit>Vindt andere musea met relevante collecties</h3>
                                </header>
                                <img property="exhibition-image" alt="" src=""/>
                            </span>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div property="unidentified" typeof="unidentified" class="unidentified" blueprint can-layout>
                <div class="row">
                    <header class="col-md-12">
                        <div property="text" can-edit>
                            <h2>Help!</h2>
                            <h3>Deze objecten werden nog niet geïdentificeerd. Kijk je even mee?</h3>
                            <p>Enig idee wat het is of waarvoor het gebruikt werd?</p>
                        </div>
                    </header>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <article property="unknown" name="1" typeof="unknown">
                            <a class="image" href="" title=""><img property="unknown-image" src="/assets/media/images/opzoeken01.jpg" alt="" can-edit/></a>
                        </article>
                    </div>
                    <div class="col-md-3">
                        <article property="unknown" name="2" typeof="unknown">
                            <a class="image" href="" title=""><img property="unknown-image" src="/assets/media/images/opzoeken02.jpg" alt="" can-edit/></a>
                        </article>
                    </div>
                    <div class="col-md-3">
                        <article property="unknown" name="3" typeof="unknown">
                            <a class="image" href="" title=""><img property="unknown-image" src="/assets/media/images/opzoeken03.jpg" alt="" can-edit/></a>
                        </article>
                    </div>
                    <div class="col-md-3">
                        <article property="unknown" name="4" typeof="unknown">
                            <a class="image" href="" title=""><img property="unknown-image" src="/assets/media/images/opzoeken04.jpg" alt="" can-edit/></a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>