<div typeof="text-page" class="textpage" blueprint template="menu-footer" can-layout>
    <div property="title" typeof="pagetitle" class="pagetitle">
        <div class="row">
            <header class="col-md-12">
                <nav class="breadcrumb">
                    <ul>
                        <li><a href="" title="">het MOT</a>\</li>
                        <li><span property="title" name="short" can-edit>pagina</span></li>
                    </ul>
                </nav>
                <h2 property="title" name="long" class="red" can-edit>De Smid, baas van ijzer en vuur.</h2>
            </header>
        </div>
    </div>


        <div class="row">
            <div class="col-md-2 icon">
                <img property="textpage-icon" src="/assets/media/images/smidicon.jpg" alt="" can-edit/>
            </div>
            <div property="content" typeof="text-block" class="text-block" can-layout>
            <div property="textpage-text" class="text col-md-6" can-edit>
                <h3 class="red">Metaal maakt al sinds de Prehistorie deel uit van onze geschiedenis. Maar wie kon dat ijzer en vuur de baas? Wie maakte zwaarden en bijlen? Wie zorgde voor sloten aan deuren en hendels aan ramen?</h3>
                <p>Deze tentoonstelling schetst een beeld van het leven en werk van de dorpssmid, een beroep dat vandaag de dag bijna volledig verdwenen is.</p>
                <h3 class="red">De smid?</h3>
                <p>De figuur van de smid is misschien nog wel gekend bij kinderen uit stripverhalen of films, maar wat hij precies deed of hoe belangrijk hij was in de dorpsgemeenschap, daar hebben de meesten het raden naar. Een aparte tentoonstelling over zijn werk is daarom meer dan de moeite waard. Ongeveer alles wat van ijzer was passeerde in de handen van de dorpssmid. En voor de komst van plastic was dat heel veel.</p>
                <h3 class="red">V.I.P.’s onder 12</h3>
                <p>Het MOT blijft bewijzen dat het een kindvriendelijk museum is. De nieuwe presentatie is volledig afgestemd op kinderen. Speciaal voor hen is de tentoonstelling uit doe-elementen opgebouwd. Geen lange, saaie teksten lezen, maar dingen opsteken door ze zelf te doen. Ze gaan ‘ondergronds’ op zoek naar ijzererts, onderzoeken via tal van proefjes wat er zo typisch is aan ijzer en ontdekken hoe zwaar het is om van ruw ijzer een afgewerkt product te maken. Vanaf nu wordt een museumbezoek een beetje hard werk. Stroop die mouwen alvast maar op.</p>
                <div class="info">
                    <h3 class="red">Info</h3>
                    <p>Open: elke weekdag van 9 tot 17 uur, van april tot oktober ook in het weekend van 14 tot 18 uur.</p>
                    <p>Plaats: het MOT | Museum voor de Oudere Technieken</p>
                    <p>Guldendal 20, 1850 Grimbergen</p>
                    <p>Tel. 02 270 81 11 – <a class="red" href="mailto:info@mot.be" title="">info@mot.be</a></p>
                </div>
            </div>
            </div>
            <div class="col-md-4 images">
                <div class="image">
                    <img property="textpage-image" src="/assets/media/images/smidimg.jpg" alt="" can-edit/>
                </div>
            </div>
    </div>
</div>