<div class="link-container" typeof="link-container" blueprint can-layout>
    <div class="row">
        <div class="column col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <article id="houtbewerking" property="exhibition" name="houtbewerking" typeof="exhibition" class="column exhibition square" can-edit>
                        <a href="" title="">
                            <span class="square-inner bgbrown">
                                <header>
                                    <h3 property="exhibition-title"  can-edit>Houtbewerking</h3>
                                </header>
                                <img property="exhibition-image" alt="" src=""/>
                            </span>
                        </a>
                    </article>
                </div>
                <div class="col-md-4">
                    <article id="was" property="exhibition" name="was" typeof="exhibition" class="column exhibition square"  can-edit>
                        <a href="" title="">
                            <span class="square-inner bgorange">
                                <header>
                                    <h3 property="exhibition-title" can-edit>Sterke vrouwen, zware was</h3>
                                </header>
                                <img property="exhibition-image" alt="" src=""/>
                            </span>
                        </a>
                    </article>
                </div>
                <div class="col-md-4">
                    <article property="exhibition" name="what-button" typeof="exhibition" class="column what-button square"  can-edit>
                        <a href="" title="">
                            <span class="square-inner">
                                <header can-edit>
                                    <h3>Een titel hier</h3>
                                </header>
                                <img alt="" src=""/>
                            </span>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>