#define($header-styles-extra)
##    TODO: site-wide css classes for all blocks should be injected here (file where all block-[blueprintType] css classes are defined)
<link href="/assets/media/less/responsive.less" rel="stylesheet" />
<link href="/assets/media/less/screen.less" rel="stylesheet" />
#end

#define($body-html)
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px">
            <div class="panel panel-gray">
                <div class="panel-heading">
                    <h2 class="panel-title">$I18N.getMessage("blueprint") $blueprint.getName()</h2>
                </div>
                <div class="panel-body">
                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">$I18N.getMessage("properties")</h3>
                        </div>
                        #if($blueprint.getProperties().size()==0)
                            <div class="panel-body"></div>
                        #elseif($blueprint.getProperties().size()>0)
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>$I18N.getMessage("id")</th>
                                    <th>$I18N.getMessage("propertyType")</th>
                                    <th>$I18N.getMessage("languages")</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($property in $blueprint.getProperties())
                                    <tr>
                                        <td>
                                            $property.getUnversionedId()
                                        </td>
                                        <td>
                                            <a href="/debug/blueprints/$property.getBlueprintType()" class="admin-link">
                                                $property.getBlueprintType()
                                            </a>
                                        </td>
                                        <td>
                                            #set($index = 0)
                                            #foreach($language in $blueprint.getLanguages())
                                                $language#set($index = $index + 1)#if($index < $blueprint.getLanguages().size()),#end
                                            #end
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        #end
                    </div>

                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">$I18N.getMessage("links")</h3>
                        </div>
                        <div class="panel-body">
                            #foreach($link in $blueprint.getLinks())
                                $EscapeTool.html($link)<br/>
                            #end
                        </div>
                    </div>

                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">$I18N.getMessage("scripts")</h3>
                        </div>
                        <div class="panel-body">
                            #foreach($script in $blueprint.getScripts())
                                $EscapeTool.html($script)<br/>
                            #end
                        </div>
                    </div>

                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">$I18N.getMessage("otherFields")</h3>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>$I18N.getMessage("fieldName")</th>
                                <th>$I18N.getMessage("fieldValue")</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>$I18N.getMessage("id")</td>
                                <td>$!blueprint.getId().getUnversionedId()</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("version")</td>
                                <td>$!blueprint.getId().getVersion()</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("blueprintPageTemplate")</td>
                                <td>$!blueprint.getPageTemplateName()</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("pageBlock")</td>
                                <td>$!blueprint.isPageBlock()</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("addableBlock")</td>
                                <td>$!blueprint.isAddableBlock()</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("createdBy")</td>
                                <td>$!blueprint.getCreatedBy()</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("createdAt")</td>
                                <td>$DateTool.format($!blueprint.getCreatedAtDate())</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("updatedBy")</td>
                                <td>$!blueprint.getUpdatedBy()</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("updatedAt")</td>
                                <td>$DateTool.format($!blueprint.getUpdatedAtDate())</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("deleted")</td>
                                <td>$!blueprint.getDeleted()</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("applicationVersion")</td>
                                <td>$!blueprint.getApplicationVersion()</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">$I18N.getMessage("languages")</h3>
                        </div>
                        <div class="panel-body">
                            #set($index = 0)
                            #foreach($language in $blueprint.getLanguages())
                                <a href="/debug/blueprints/$blueprint.getName()?lang=$language" class="admin-link #if($language==$activeLanguage) active#else not-active#end ">
                                    $language#set($index = $index + 1)#if($index < $blueprint.getLanguages().size()),#end
                                </a>
                            #end
                        </div>
                    </div>


                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">$I18N.getMessage("rendered")</h3>
                        </div>

                        <div class="panel-body">
                            $src
                        </div>
                    </div>

                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">$I18N.getMessage("source")</h3>
                        </div>

                        <div class="panel-body">
                            <pre>$EscapeTool.html($blueprint.getTemplate())</pre>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
#end

#parse("/views/admin/main.html")