#define($body-html)
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">$blueprintsTitle</h1>
        </div>
##        <div class="panel-body">
##
##        </div>
        <table class="table">
            <thead>
            <tr>
                <th>
                    $blueprintName
                </th>
                <th>
                    $blueprintPageTemplate
                </th>
                <th>
                    $blueprintPageBlock
                </th>
                <th>
                    $blueprintAddableBlock
                </th>
                <th>
                    $blueprintProperties
                </th>
                <th>
                    $blueprintScripts
                </th>
                <th>
                    $blueprintLinks
                </th>
                <th>
                    $blueprintLanguages
                </th>
                <th>
                    $blueprintId
                </th>
                <th>
                    $blueprintApplicationVersion
                </th>
                <th>
                    $blueprintCreatedBy
                </th>
                <th>
                    $blueprintCreatedAt
                </th>
                <th>
                    $blueprintUpdatedBy
                </th>
                <th>
                    $blueprintUpdatedAt
                </th>
                <th>
                    $blueprintDeleted
                </th>
            </tr>
            </thead>
            <tbody>
                #foreach($blueprint in $blueprints)
                <tr>
                    <td>
                        $!blueprint.getName()
                    </td>
                    <td>
                        $!blueprint.getPageTemplateName()
                    </td>
                    <td>
                        $!blueprint.isPageBlock()
                    </td>
                    <td>
                        $!blueprint.isAddableBlock()
                    </td>
                    <td>
                        $!blueprint.getProperties().size()
                    </td>
                    <td>
                        $!blueprint.getScripts().size()
                    </td>
                    <td>
                        $!blueprint.getLinks().size()
                    </td>
                    <td>
                        $!blueprint.getLanguages()
                    </td>
                    <td>
                        $!blueprint.getId().getUnversionedId()
                    </td>
                    <td>
                        $!blueprint.getApplicationVersion()
                    </td>
                    <td>
                        $!blueprint.getCreatedBy()
                    </td>
                    <td>
                        $DateTool.format($!blueprint.getCreatedAtDate())
                    </td>
                    <td>
                        $!blueprint.getUpdatedBy()
                    </td>
                    <td>
                        $DateTool.format($!blueprint.getUpdatedAtDate())
                    </td>
                    <td>
                        $!blueprint.getDeleted()
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
</div>
#end

#parse("/views/admin/main.html")