#define($body-html)
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px">
            <div class="panel panel-gray">
                <div class="panel-heading">
                    <h2 class="panel-title">$I18N.getMessage("pageTemplate") $pageTemplate.getName()</h2>
                </div>
                <div class="panel-body">
                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">$I18N.getMessage("properties")</h3>
                        </div>
                        #if($pageTemplate.getProperties().size()==0)
                            <div class="panel-body"></div>
                        #elseif($pageTemplate.getProperties().size()>0)
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>$I18N.getMessage("id")</th>

                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($property in $pageTemplate.getProperties())
                                    <tr>
                                        <td>
                                            $property.getId()
                                        </td>

                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        #end
                    </div>

                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">$I18N.getMessage("links")</h3>
                        </div>
                        <div class="panel-body">
                            #foreach($link in $pageTemplate.getLinks())
                                $EscapeTool.html($link)<br/>
                            #end
                        </div>
                    </div>

                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">$I18N.getMessage("scripts")</h3>
                        </div>
                        <div class="panel-body">
                            #foreach($script in $pageTemplate.getScripts())
                                $EscapeTool.html($script)<br/>
                            #end
                        </div>
                    </div>

                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">$I18N.getMessage("otherFields")</h3>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>$I18N.getMessage("fieldName")</th>
                                <th>$I18N.getMessage("fieldValue")</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>$I18N.getMessage("id")</td>
                                <td>$!pageTemplate.getId()</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("version")</td>
                                <td>$!pageTemplate.getDocumentVersion()</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("createdBy")</td>
                                <td>$!pageTemplate.getCreatedBy()</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("createdAt")</td>
                                <td>$!pageTemplate.getCreatedAtDate()</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("updatedBy")</td>
                                <td>$!pageTemplate.getUpdatedBy()</td>
                            </tr>
                            <tr>
                                <td>$I18N.getMessage("updatedAt")</td>
                                <td>$!pageTemplate.getUpdatedAtDate()</td>
                            </tr>

                            <tr>
                                <td>$I18N.getMessage("applicationVersion")</td>
                                <td>$!pageTemplate.getApplicationVersion()</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                ##                    <div class="panel panel-gray">
                ##                        <div class="panel-heading">
                ##                            <h3 class="panel-title">$I18N.getMessage("languages")</h3>
                ##                        </div>
                ##                        <div class="panel-body">
                ##                            #set($index = 0)
                ##                            #foreach($getLanguage in $pageTemplate.getLanguages())
                ##                                <a href="/debug/pagetemplates/$pageTemplate.getTemplateTagName()?lang=$getLanguage" class="admin-link #if($getLanguage==$activeLanguage) active#else not-active#end ">
                ##                                    $getLanguage#set($index = $index + 1)#if($index < $pageTemplate.getLanguages().size()),#end
                ##                                </a>
                ##                            #end
                ##                        </div>
                ##                    </div>


                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">$I18N.getMessage("rendered")</h3>
                        </div>

                        <div class="panel-body">
                            <iframe width="100%" height="500px" src=$src>
                            </iframe>
                        </div>
                    </div>

                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">$I18N.getMessage("source")</h3>
                        </div>

                        <div class="panel-body">
                            <pre>$pageTemplate.getValue()</pre>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
#end

#parse("/views/admin/main.html")