#define($body-html)
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">$I18N.getMessage("pageTemplatesTitle")</h1>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>
                    $I18N.getMessage("pageTemplateName")
                </th>
                <th>
                    $I18N.getMessage("pageTemplateProperties")
                </th>
                <th>
                    $I18N.getMessage("pageTemplateScripts")
                </th>
                <th>
                    $I18N.getMessage("pageTemplateLinks")
                </th>
                <th>
                    $I18N.getMessage("pageTemplateLanguages")
                </th>
##                <th>
##                    $I18N.getMessage("pageTemplateId")
##                </th>
##                <th>
##                    $I18N.getMessage("pageTemplateApplicationVersion")
##                </th>
##                <th>
##                    $I18N.getMessage("pageTemplateCreatedBy")
##                </th>
##                <th>
##                    $I18N.getMessage("pageTemplateCreatedAt")
##                </th>
##                <th>
##                    $I18N.getMessage("pageTemplateUpdatedBy")
##                </th>
##                <th>
##                    $I18N.getMessage("pageTemplateUpdatedAt")
##                </th>
##                <th>
##                    $I18N.getMessage("pageTemplateDeleted")
##                </th>
            </tr>
            </thead>
            <tbody>
                #foreach($pageTemplate in $pageTemplates)
                <tr>
                    <td>
                        $!pageTemplate.getName()
                    </td>
                    <td>
                        $!pageTemplate.getProperties().size()
                    </td>
                    <td>
                        $!pageTemplate.getScripts().size()
                    </td>
                    <td>
                        $!pageTemplate.getLinks().size()
                    </td>
                    <td>
                        #set($index = 0)
                        #foreach($language in $pageTemplate.getLanguages())
                            $language
                            #set($index = $index + 1)
                            #if($index < $pageTemplate.getLanguages().size())
                                ,
                            #end
                        #end
                    </td>
##                    <td>
##                        $!pageTemplate.getId().getUnversionedId()
##                    </td>
##                    <td>
##                        $!pageTemplate.getApplicationVersion()
##                    </td>
##                    <td>
##                        $!pageTemplate.getCreatedBy()
##                    </td>
##                    <td>
##                        $DateTool.format($!pageTemplate.getCreatedAtDate())
##                    </td>
##                    <td>
##                        $!pageTemplate.getUpdatedBy()
##                    </td>
##                    <td>
##                        $DateTool.format($!pageTemplate.getUpdatedAtDate())
##                    </td>
##                    <td>
##                        $!pageTemplate.getDeleted()
##                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
    </div>
#end

#parse("/views/admin/main.html")