#define($header-scripts-extra)
<script src="/assets/javascripts/admin/sitemap.js" type="application/javascript"></script>
#end

#macro(childHtml $root $language)
<a href="$root.getUrl($language)" class="admin-link #if(!$root.getStoredTemplateId) no-entity #end">$root.getPathName()</a>
<ul class="admin-list">
    #foreach($child in $root.getSubBranches())
        <li>
            #childHtml($child)
        </li>
    #end
</ul>
#end

#define($body-html)
<div class="container">
    #foreach($language in $languages)<div class="panel panel-gray">
        <div class="panel-heading" data-toggle="collapse" href="#panelbody-$language">
            <h1 class="panel-title">
                $I18N.getMessage("siteMap") $language
                <span class="glyphicon glyphicon-chevron-up pull-right"></span>
            </h1>
        </div>
        <div class="panel-collapse collapse in" id="panelbody-$language">
            <div class="panel-body">
                $urlmap.test
                #if($urlmap) niet gevoinde #end

                #childHtml($urlmap $language)
            </div>
        </div>
    </div>
    #end
</div>
#end

#parse("/views/admin/main.html")