// Overlay when editing and for dialogs
@import "/constants/blocks/common?type=less";
@import "/constants/blocks/finder?type=less";

//-----BASIC BOOTSTRAP MIXINS-----
@import "/assets/webjars/bootstrap/3.3.4/less/variables.less";
@import "/assets/webjars/bootstrap/3.3.4/less/mixins.less";
// Reset and dependencies
@import "/assets/webjars/bootstrap/3.3.4/less/normalize.less";
// Core CSS
@import "/assets/webjars/bootstrap/3.3.4/less/buttons.less";
@import "/assets/webjars/bootstrap/3.3.4/less/forms.less";
// Components
@import "/assets/webjars/bootstrap/3.3.4/less/dropdowns.less";
@import "/assets/webjars/bootstrap/3.3.4/less/button-groups.less";
@import "/assets/webjars/bootstrap/3.3.4/less/input-groups.less";
@import "/assets/webjars/bootstrap/3.3.4/less/panels.less";


//@import "/assets/webjars/bootstrap/3.3.4/less/bootstrap.less";
//@import "/assets/webjars/bootstrap/3.3.4/less/theme.less";
//@import "/assets/webjars/bootstrap/3.3.4/less/mixins/tab-focus.less";
//@import "/assets/webjars/bootstrap/3.3.4/less/mixins/border-radius.less";
//@import "/assets/webjars/bootstrap/3.3.4/less/mixins/buttons.less";
//@import "/assets/webjars/bootstrap/3.3.4/less/button-groups.less";

@mainMenuHeight: 40px;
@initSidebarWidth: 0%;

.@{BLOCK_OVERLAY_CLASS} {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  border: 1px dotted rgba(100, 100, 100, 0.8);
  pointer-events: none;
  cursor: pointer;

  &.left {
    border-left: none;
  }

  &.top {
    border-top: none;
  }

  &.block-hover {
    //    border-bottom: 3px solid rgba(66, 66, 66, 0.8);
    //    border-right: 3px solid rgba(66, 66, 66, 0.8);
    //    border: 1px solid rgba(0, 0, 0, 0.8);
    //    background-color: rgba(210, 219, 242, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    border: none;
  }
  //
  //  &.draggable {
  //    cursor: move; /* fallback if grab cursor is unsupported */
  //    cursor: grab;
  //    cursor: -moz-grab;
  //    cursor: -webkit-grab;
  //  }
}

.@{DRAGGED_BLOCK_OVERLAY_CLASS} {
  position: absolute;
  background-color: rgba(00, 102, 204, 0.5);
}

.@{PROPERTY_OVERLAY_CLASS} {
  position: absolute;
  border: 1px dotted rgba(100, 100, 100, 0.8);
  cursor: text;

  &.left {
    border-left: none;
  }

  &.top {
    border-top: none;
  }

  &.right {
    border-right: none;
  }

  &.bottom {
    border-bottom: none;
  }

  &.@{PROPERTY_HOVER_CLASS} {
    border: 1px solid rgba(0, 0, 0, 1);
  }

}

.@{OPACITY_CLASS} {
  opacity: 0.2;
  -webkit-filter: blur(5px) grayscale(20%);
  -moz-filter: blur(5px) grayscale(20%);
  -o-filter: blur(5px) grayscale(20%);
  -ms-filter: blur(5px) grayscale(20%);
  filter: blur(5px) grayscale(1);
}

.@{PREVENT_BLUR_CLASS} {
  opacity: 1.0 !important;
  -webkit-filter: blur(0) !important;
  -moz-filter: blur(0) !important;
  -o-filter: blur(0) !important;
  -ms-filter: blur(0) !important;
  filter: blur(0) !important;
}

.@{COLUMN_RESIZER_CLASS} {
  position: absolute;
  background-color: #d3d3d3;
  cursor: col-resize;
}

// Classes for the body that force the cursor in a certain style
body.@{FORCE_DRAG_CURSOR_CLASS}, body.@{FORCE_DRAG_CURSOR_CLASS} * {
  cursor: grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: -webkit-grabbing !important;
}

body.@{FORCE_RESIZE_CURSOR_CLASS}, body.@{FORCE_RESIZE_CURSOR_CLASS} * {
  cursor: col-resize !important;
}

// Class put when a property is content-editable and active
// so when cvan set the outline we want for this property
.@{PROPERTY_EDIT_CLASS} {
  outline: 1px dotted rgba(100, 100, 100, 0.8);
}

[property]:focus {
  outline: 1px dotted rgba(100, 100, 100, 0.8);
}

.@{PREVENT_SELECTION_CLASS} {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

iframe {
  pointer-events: none;
}

// force for height wrapping divs
.image {
  display: inline-block;
}

iframe.edit {
  pointer-events: auto;
}

.blocks-resizing {
  cursor: col-resize;
}

ul.@{BLOCK_ACTIONS_CLASS} {
  list-style-type: none;
  padding-left: 0;

  li {
    .clearfix;
    margin-bottom: 5px;
  }
}

//.@{PAGE_MENU_CLASS} {
//  height: @mainMenuHeight;
//  background-color: white;
//  border-bottom: 1px solid black;
//  width: 100%;
//  z-index: 1;
//  padding-top: 10px;
//  padding-bottom: 10px;
//  overflow: hidden;
//
//  a {
//    margin-right: 6px !important;
//  }
//
//  ul {
//    display: inline;
//  }
//
//  ul > li {
//    display: inline;
//    margin-left: 7px;
//    padding: 4px;
//    border: 1px solid black;
//    border-radius: 5px;
//  }
//
//  ul > li:hover {
//    background-color: #d3d3d3;
//    cursor: pointer;
//  }
//
//  .main-menu-items {
//  }
//
//  &.open {
//    display: block;
//  }
//}

.@{PAGE_CONTENT_CLASS} {
  position: absolute;
  z-index: 0;
  //  margin-top: @mainMenuHeight;
  width: 100% - @initSidebarWidth;
  min-height: 100%;

}

@sidebarTabHeight: 41px;
//this is taken from a real world example, hope it won't change
.@{PAGE_SIDEBAR_CLASS} {
  //Sync this with the bgColor of the finder
  @controlBgColor: #e8e8e8;
  @bgColor: #fafafa;
  @resizerWidth: 6px;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  padding-left: @resizerWidth;
  .drop-shadow(-1px, 0px, 4px, 0.4);
  background-color: @bgColor;

  width: @initSidebarWidth;
  //animates the width only when not DnD-ing (see js code)
  &.@{SIDEBAR_ANIMATED_CLASS} {
    @duration: 0.2s;
    @ease: ease-in;
    -webkit-transition: width @duration @ease;
    -moz-transition: width @duration @ease;
    -o-transition: width @duration @ease;
    transition: width @duration @ease;
  }

  .@{PAGE_SIDEBAR_RESIZE_CLASS} {
    position: absolute;
    left: 0;
    top: 0;
    width: @resizerWidth;
    height: 100%;
    cursor: col-resize;
    background: darken(@controlBgColor, 10%) url('/assets/images/blocks/splitter_ver_padded.png') center center repeat-y;
    border-left: 1px solid darken(@controlBgColor, 40%);
    border-right: 1px solid darken(@controlBgColor, 15%);

    z-index: 3;
  }

  .nav-tabs {
    height: @sidebarTabHeight;
    overflow: hidden;
    background-color: @controlBgColor;
    border-bottom: 0px;

    //make the tabs work with the negative margins below
    position: relative;
    z-index: 1000;

    & > li:first-child > a {
      border-left-width: 0;
    }

    & > li > a {
      border: 1px solid transparent;
      .border-radius(0 0 0 0);
      &:hover {
        border-color: transparent;
      }
    }

    & > li.active > a {
      background-color: @bgColor;
    }
  }

  //this is the container that hold the data of the side panel (without the tabs, resizer, etc)
  .tab-content {
    position: relative; //needed to make some children absolute
    //next three make the content pane 100% in height (needed for eg. finder)
    height: 100%;
    margin-top: -@sidebarTabHeight;
    padding-top: @sidebarTabHeight;
  }

  .tab-pane {
    .panel {
      border-width: 1px solid lighten(@controlBgColor, 50%);
      margin: 10px 10px;

      .form-group {
        .input-group {
          position: relative;//to make the clean button work
          width: 100%;
          .btn-clear {

            //.animated(0.3s);
            //.fadeIn;

            &.hidden {
              display: none;
            }
            display: block;
            position: absolute;
            right: 10px;
            top: 4px;
            z-index: 3; //input has 2

            //mimicks .close btn
            text-shadow: 0 1px 0 #fff;
            font-size: 20px;
            color: #333;
            .opacity(0.4) !important;

            &:hover {
              .opacity(0.6) !important;
            }
          }
        }
      }
    }
  }

  .finder-window {
    height: 600px;

  }
}


.@{BLOCKS_START_BUTTON} {
  display: block;
  position: fixed;
  font-size: 36px;
  top: @sidebarTabHeight/5; //"5" is trial and error
  right: 20px;
  cursor: pointer;
  z-index: 10000;
  color: #000000;

  &:extend(.@{PREVENT_BLUR_CLASS});

  .opacity(0.4) !important;
  &:hover {
    color: #222222;
    .opacity(0.6) !important;
  }

  &:before {
    &:extend(.fa);
    content: "\f14b";
  }

  &.open {
    //mimicks .close btn
    text-shadow: 0 1px 0 #fff;
    font-size: 20px;

    &:before {
      content: "\f00d"; //fa-times
    }
  }
}

#@{SIDEBAR_FILES_ID} {
  .setupLoader();

  @finderMargin: 10px;
  position: absolute; //absolute in relative parent pattern
  top: @sidebarTabHeight - 1 + @finderMargin; //this this -1 comes from an extra border somewhere
  left: @finderMargin;
  bottom: @finderMargin;
  right: @finderMargin;

  margin-bottom: 0; //override the panel settings

  .@{WINDOW_CLASS} {

  }

  //position: fixed;
  //left: 0px;
  //top: @mainMenuHeight;
  //bottom: 0px;
  //right: 0px;
}

.@{HIGHLIGHT_ANIMATION_CLASS} {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.@{HIGHLIGHT_CLASS}, .@{HIGHLIGHT_CLASS}:focus {
  outline: #7ec4ff dotted 2px;
}

.@{REMOVE_BLOCK_CLASS} {
  margin-bottom: 0px;
  .panel-body {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .text {
    line-height: 32px;
  }

  .confirm-text {
    padding-bottom: 5px;
  }

  .btn {
    margin-right: 10px;
  }
}

// Set img as block so our block wraps around it
blocks-image {
  img {
    display: block;
  }
}

.@{EDITOR_TOOLBAR_CLASS} {
  li {
    display: inline;
  }
}

@medium-editor-bgcolor: #fff;
@medium-editor-border-color: #111;
@medium-editor-button-size: 30px;
@medium-editor-button-active-text-color: #000;
@medium-editor-hover-color: #ccc;
@medium-editor-link-color: #555;
@medium-editor-border-radius: 0px;
@medium-editor-placeholder-color: #555;

// theme rules
.medium-toolbar-arrow-under:after {
  border-color: @medium-editor-bgcolor transparent transparent transparent;
  top: @medium-editor-button-size;
}

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent @medium-editor-bgcolor transparent;
}

.medium-editor-toolbar {

  .form-inline();
  &:extend(.form-inline);

  .btn-group();
  &:extend(.btn-group all);

  li {
    button {
      .btn();
      .btn-default();
      &:extend(.btn, .btn.btn-default all);
    }
    .medium-editor-button-active {
      .btn.active;
      .btn-default.active;
    }
  }

  .dropdown-menu {
    &:extend(.dropdown-menu);
  }
  .dropdown li {
    float: none;
  }
}
.medium-editor-toolbar-form {
  //background: @medium-editor-bgcolor;
  //border-radius: @medium-editor-border-radius;
  //color: #fff;
  //padding: 6px;

  .form-group();
  &:extend(.form-group);

  display: none;

  .medium-editor-toolbar-input {
    //background: @medium-editor-bgcolor;
    //color: @medium-editor-link-color;
    //height: @medium-editor-button-size;
    //
    ////    &::-webkit-input-placeholder {
    ////      color: @medium-editor-placeholder-color;
    ////      color: rgba(@medium-editor-placeholder-color, .8);
    ////    }
    ////    &:-moz-placeholder { /* Firefox 18- */
    ////      color: @medium-editor-placeholder-color;
    ////      color: rgba(@medium-editor-placeholder-color, .8);
    ////    }
    ////    &::-moz-placeholder {  /* Firefox 19+ */
    ////      color: @medium-editor-placeholder-color;
    ////      color: rgba(@medium-editor-placeholder-color, .8);
    ////    }
    ////    &:-ms-input-placeholder {
    ////      color: @medium-editor-placeholder-color;
    ////      color: rgba(@medium-editor-placeholder-color, .8);
    ////    }
  }

  a {
    .btn();
    .btn-default();
    &:extend(.btn, .btn.btn-default all);
    //color: @medium-editor-link-color;
    //font-size: inherit;
  }
  //
  //select {
  //  .form-control();
  //  &:extend(.form-control);
  //  //border: 1px solid #ccc;
  //  //background-color: white;
  //  //color: #555;
  //  //padding: 6px;
  //  //line-height: 1.4px;
  //  //border-radius: 4px;
  //  //font-size: 14px;
  //  //display: inline-block;
  //  //min-width: 316px;
  //}

}
//
//.medium-editor-toolbar-anchor-preview {
//  background: @medium-editor-bgcolor;
//  border-radius: @medium-editor-border-radius;
//  color: @medium-editor-link-color;
//}
//
//.medium-editor-placeholder:after {
//  color: @medium-editor-border-color;
//}

