@media (max-width:992px){
    #header>.container{width:100%;padding:0;margin:0}
    #header>.container>.row{padding:0;margin:0}
}
@media (min-width:768px){
    *{font-size:8px}
    .welcome{padding:60px 0;text-align:left}
    .search{padding:60px 0;text-align:left}
    .experiences{margin-bottom:60px}
    .square{margin-bottom:30px}
    .page .pagetitle,.page .sectiontitle{text-align:left}
}
@media (min-width:992px){
    *{font-size:10px}
    #header{padding:0}
    #header #mobilebutton{display:none}
    #header .contact,#header #menu,#header .search-button,#header #accessibility{display:block}
    #header #logo{background:none;margin:18px 0}
    #header #logo a{width:89px;height:106px;background-image:url('../images/MOT-logo.svg')}
    #header .contact,#header #menu,#header .search-button,#header #accessibility{display:block}
    #header #menu{margin-top:4px}
    #header #menu li{display:inline-block;margin-left:30px}
    #header #menu li:first-child{margin-left:0}
    #header #menu li a{color:#5d5d5d;font-size:2em;font-weight:700;display:block;padding:5px 10px}
    #header #navigation{position:relative;top:auto;background-color:#fff;padding:0;width:auto;z-index:10}
    #header #navigation #menu{margin-top:4px;text-align:left}
    #header #navigation #menu li{display:inline-block;margin-left:30px}
    #header #navigation #menu li:first-child{margin-left:0}
    #header #navigation #menu li a{color:#5d5d5d;font-size:2em;font-weight:700;display:block;padding:5px 10px;background-color:transparent;border-radius:none}
    #header #navigation #menu li .active{background-color:transparent;color:#ce0538}
    #header #navigation .contact{text-align:right}
    #header #navigation .contact ul{width:auto;background-color:#e5e5e5;display:inline-block;padding:10px 20px}
    #header #navigation .contact ul li{font-size:1.8em;color:#aaa;display:inline-block;margin-left:15px}
    #header #navigation .contact ul li:first-child{margin-left:0}
    #header #navigation .contact ul li a{font-size:1em;color:#aaa;display:block;text-decoration:underline}
    #header #navigation #accessibility{border-bottom:none;text-align:right;margin:6px 0 0;text-align:center}
    #header #navigation #accessibility .col-md-12>*{float:right;display:block}
    #header #navigation #accessibility .languages li{display:inline-block}
    #header #navigation #accessibility .languages li a{display:block;padding:5px 10px;color:#999;font-size:1.6em;font-weight:700}
    #header #navigation #accessibility .languages li .active{color:#ce0538}
    #header #navigation #accessibility .fontsize ul{padding-left:5px;margin-left:5px;border-left:1px solid #ccc;display:inline-block}
    #header #navigation #accessibility .fontsize ul .smaller a{font-size:1.1em}
    #header #navigation #accessibility .fontsize ul .larger a{font-size:1.8em}
    #header #navigation #accessibility .fontsize ul li{vertical-align:bottom;display:inline-block;margin-left:10px}
    #header #navigation #accessibility .fontsize ul li a{display:block;background-color:#999;color:#fff;width:26px;height:26px;line-height:26px;text-align:center}
    #header #navigation #accessibility .fontsize ul li a:hover{background-color:#222;text-decoration:none}
    #header #navigation .search-button{text-align:right;margin:-5px 0 0;border-top:none;padding-top:0}
    #header #navigation .search-button a{background-color:#ce0538;padding:5px 15px;border-radius:5px;font-size:2em;color:#fff;font-weight:700;display:inline-block;text-align:center;border:3px solid #ce0538}
    .slideshow .container{padding-top:120px;padding-bottom:120px}
    .welcome,.search{padding:120px 0}
    .square .square-inner h3{font-size:2.4em}
    .what-button.square .square-inner h3{font-size:3em}
    .buildings .building a header h3{font-size:2.4em}
    .buildings .building a header p{font-size:1.8em}
    .buildings .building a p{font-size:1.4em}
    .experiences{margin-bottom:90px}
    .text h3{font-size:2.4em}
    .text p{font-size:1.4em}
    .text a{color:#ce0538;text-decoration:underline}
    .text .image{margin-top:30px}
    .unidentified header h3{font-size:2.8em}
    .research #header #logo a{width:89px;height:106px;background-image:url('../images/MOT-logo-white.svg')}
    .research #header #navigation #menu li a{color:#fff}
    .research #header #navigation .search-button a{border:3px solid #fff}
    .research #header #navigation .contact ul{background-color:#fff}
    .research #header #navigation .contact ul li{color:#ce0538}
    .research #header #navigation .contact ul li a{color:inherit}
    .research #header #navigation #accessibility .languages li a{color:#fff}
    .research #header #navigation #accessibility .languages li .active{text-decoration:underline}
    .research #header #navigation #accessibility .fontsize ul{border-color:#fff}
    .research #header #navigation #accessibility .fontsize ul li a{background-color:#fff;color:#ce0538}
}
