<div typeof="home-page" blueprint template="slideshow" can-layout page-block not-addable-block>
    <div class="row">
        <div class="col-md-12">
            <div property="welcome" typeof="home-row" class="home-row" blueprint not-addable-block>
                <div class="row" style="background-color: white">
                    <div class="col-md-4 image">
                        <img property="image" src="/assets/media/images/maalsteen.jpg" alt="" can-edit/>
                    </div>
                    <div class="col-md-8">
                        <header class="text">
                            <h2 property="title" class="red" can-edit>Welkom in het MOT, de perfecte uitstap voor het hele gezin.</h2>
                        </header>
                        <p property="text" class="text" can-edit>Vier historische gebouwen in Grimbergen, omgeven door een prachtig natuurdomein, nodigen je uit voor een dagje leerrijke ontspanning. Want er valt heel wat te beleven in het MOT, zowel binnen als buiten.</p>
                        <ul property="button-list" typeof="button-list" class="button-list" can-layout blueprint>
                            <div class="row-fluid">
                                <div property="button" name="museum" typeof="button" class="button">
                                    <a property="button-text" href="museum" title="" can-edit>over het museum</a>
                                </div>
                                <div property="button" name="experience" typeof="button" class="button">
                                    <a property="button-text" href="beleving" title="" can-edit>beleving in het MOT</a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div property="color-line" typeof="color-line" class="color-line" blueprint>
                <div class="row">
                    <div class="col-md-12">&nbsp;</div>
                </div>
            </div>
            <div property="search" typeof="home-row" class="home-row search">
                <div class="row" style="background-color: #efefef">
                    <div class="col-md-4 image">
                        <img property="image" src="/assets/media/images/search.png" alt=""/>
                    </div>
                    <div class="col-md-8">
                        <header class="text">
                            <h1 property="title" class="red" can-edit>Online Opzoeken</h1>
                            <p property="subtitle" class="red" can-edit>Het MOT beschikt over verschillende online databanken. Zoeken maar!</p>
                        </header>
                        <p property="text" class="text" can-edit>Onze data is vrij toegankelijk te raadplegen. Ontdek waarvoor gevonden gereedschap dient of b.v. van welke smid het komt.</p>
                        <ul property="button-list" typeof="button-list" class="button-list" can-layout>
                            <div class="row-fluid">
                                <div property="button" name="search" typeof="button" class="button">
                                    <a property="button-text" href="zoek" title="" can-edit>zoeken maar</a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>