<div typeof="waterput" blueprint can-layout template="menu-footer" page-block not-addable-block>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
            <div property='agent' typeof="agent" lang='Nl'>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/27.0.1453.116 Safari/537.36</div>
            <div property='author' lang='Nl'>florence.vandriel</div>
            <div property='charset' lang='Nl'>ISO-8859-1</div>
            <div property='csum' lang='Nl'></div>
            <div property='ctime' lang='Nl'>1291646979</div>
            <div property='host' lang='Nl'>109.128.96.239</div>
            <div property='name' lang='Nl'>WaterWells.BelgiumAalstNieuwerkerkenBlauwenbergstraat61</div>
            <div property='rev' lang='Nl'>15</div>
            <div property='targets' lang='Nl'></div>
            <div property='SubmissionTime' lang='Nl'>Monday 06 December 2010 07:49:39</div>
            <div property='RemoteAddress' lang='Nl'>109.130.72.10</div>
            <div property='WaterWellCountry' lang='Nl'>Belgium</div>
            <div property='WaterWellCity' lang='Nl'>Aalst</div>
            <div property='WaterWellBorough' lang='Nl'>Nieuwerkerken</div>
            <div property='WaterWellZip' lang='Nl'>9320</div>
            <div property='WaterWellStreet' lang='Nl'>Blauwenbergstraat</div>
            <div property='WaterWellStreetNumber' lang='Nl'>61</div>
            <div property='UserCountry' lang='Nl'>Belgium</div>
            <div property='UserCity' lang='Nl'></div>
            <div property='UserZip' lang='Nl'></div>
            <div property='UserName' lang='Nl'>C. Floru</div>
            <div property='UserStreet' lang='Nl'></div>
            <div property='UserStreetNumber' lang='Nl'></div>
            <div property='UserEmailAddress' lang='Nl'></div>
            <div property='UserComment-MoveMeToRelevantFieldBelow' lang='Nl'></div>
            <div property='WaterWellComment' lang='Nl'>De overgrootouders van de melder lieten deze waterput maken. Voordien was er een andere waterput, doch daar bleek een interferentie met de beerput, waardoor dat water ondrinkbaar werd. De melder herinnert zich het jaar 1921, waarin is ofwel de waterput gegraevn werd, ofwel van een hete zomer, wanneer alle dorpsbewoners daar om water kwamen.
                De bovenbouw van de put was weggerot en is verloren gegaan bij opruimingswerken.</div>
            <div property='WaterWellIsDestroyed' lang='Nl'>0</div>
            <div property='Year' lang='Nl'>2010</div>
            <div property='ThisEntryIsVerifiedAndReadyForPublicationOnSite' lang='Nl'>1</div>
            <div property='time' lang='Nl'>1372404949</div>
        </div>
    </div>
</div>

<div typeof="waterput" blueprint can-layout template="menu-footer" lang="Fr" page-block not-addable-block>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
            <div property='agent' typeof="agent" lang='Nl'>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/27.0.1453.116 Safari/537.36</div>
            <div property='author' lang='Nl'>florence.vandriel</div>
            <div property='charset' lang='Nl'>ISO-8859-1</div>
            <div property='csum' lang='Nl'></div>
            <div property='ctime' lang='Nl'>1291646979</div>
            <div property='host' lang='Nl'>109.128.96.239</div>
            <div property='name' lang='Nl'>WaterWells.BelgiumAalstNieuwerkerkenBlauwenbergstraat61</div>
            <div property='rev' lang='Nl'>15</div>
            <div property='targets' lang='Nl'></div>
            <div property='SubmissionTime' lang='Nl'>Monday 06 December 2010 07:49:39</div>
            <div property='RemoteAddress' lang='Nl'>109.130.72.10</div>
            <div property='WaterWellCountry' lang='Nl'>Belgium</div>
            <div property='WaterWellCity' lang='Nl'>Aalst</div>
            <div property='WaterWellBorough' lang='Nl'>Nieuwerkerken</div>
            <div property='WaterWellZip' lang='Nl'>9320</div>
            <div property='WaterWellStreet' lang='Nl'>Blauwenbergstraat</div>
            <div property='WaterWellStreetNumber' lang='Nl'>61</div>
            <div property='UserCountry' lang='Nl'>Belgium</div>
            <div property='UserCity' lang='Nl'></div>
            <div property='UserZip' lang='Nl'></div>
            <div property='UserName' lang='Nl'>C. Floru</div>
            <div property='UserStreet' lang='Nl'></div>
            <div property='UserStreetNumber' lang='Nl'></div>
            <div property='UserEmailAddress' lang='Nl'></div>
            <div property='UserComment-MoveMeToRelevantFieldBelow' lang='Nl'></div>
            <div property='WaterWellComment' lang='Nl'>De overgrootouders van de melder lieten deze waterput maken. Voordien was er een andere waterput, doch daar bleek een interferentie met de beerput, waardoor dat water ondrinkbaar werd. De melder herinnert zich het jaar 1921, waarin is ofwel de waterput gegraevn werd, ofwel van een hete zomer, wanneer alle dorpsbewoners daar om water kwamen.
                De bovenbouw van de put was weggerot en is verloren gegaan bij opruimingswerken.</div>
            <div property='WaterWellIsDestroyed' lang='Nl'>0</div>
            <div property='Year' lang='Nl'>2010</div>
            <div property='ThisEntryIsVerifiedAndReadyForPublicationOnSite' lang='Nl'>1</div>
            <div property='time' lang='Nl'>1372404949</div>
        </div>
    </div>
</div>


<div typeof='waterput' resource='http://localhost:8080/waterput/WaterWellsBelgiumAalstNieuwerkerkenBlauwenbergstraat61'>
    <div property='agent' lang='nl'>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/27.0.1453.116 Safari/537.36</div>
    <div property='author' lang='nl'>florence.vandriel</div>
    <div property='charset' lang='nl'>ISO-8859-1</div>
    <div property='csum' lang='nl'></div>
    <div property='ctime' lang='nl'>1291646979</div>
    <div property='host' lang='nl'>109.128.96.239</div>
    <div property='name' lang='nl'>WaterWells.BelgiumAalstNieuwerkerkenBlauwenbergstraat61</div>
    <div property='rev' lang='nl'>15</div>
    <div property='targets' lang='nl'></div>
    <div property='SubmissionTime' lang='nl'>Monday 06 December 2010 07:49:39</div>
    <div property='RemoteAddress' lang='nl'>109.130.72.10</div>
    <div property='WaterWellCountry' lang='nl'>Belgium</div>
    <div property='WaterWellCity' lang='nl'>Aalst</div>
    <div property='WaterWellBorough' lang='nl'>Nieuwerkerken</div>
    <div property='WaterWellZip' lang='nl'>9320</div>
    <div property='WaterWellStreet' lang='nl'>Blauwenbergstraat</div>
    <div property='WaterWellStreetNumber' lang='nl'>61</div>
    <div property='UserCountry' lang='nl'>Belgium</div>
    <div property='UserCity' lang='nl'></div>
    <div property='UserZip' lang='nl'></div>
    <div property='UserName' lang='nl'>C. Floru</div>
    <div property='UserStreet' lang='nl'></div>
    <div property='UserStreetNumber' lang='nl'></div>
    <div property='UserEmailAddress' lang='nl'></div>
    <div property='UserComment-MoveMeToRelevantFieldBelow' lang='nl'></div>
    <div property='WaterWellComment' lang='nl'>De overgrootouders van de melder lieten deze waterput maken. Voordien was er een andere waterput, doch daar bleek een interferentie met de beerput, waardoor dat water ondrinkbaar werd. De melder herinnert zich het jaar 1921, waarin is ofwel de waterput gegraevn werd, ofwel van een hete zomer, wanneer alle dorpsbewoners daar om water kwamen.
        De bovenbouw van de put was weggerot en is verloren gegaan bij opruimingswerken.</div>
    <div property='WaterWellIsDestroyed' lang='nl'>0</div>
    <div property='Year' lang='nl'>2010</div>
    <div property='ThisEntryIsVerifiedAndReadyForPublicationOnSite' lang='nl'>1</div>
    <div property='time' lang='nl'>1372404949</div>
</div>