#define ($body-html)
<div class="container">

    <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

            <p>Are you sure you want to change your e-mail address from <span class="red-accent">$!oldEmail</span> to <span class="red-accent">$!newEmail</span></p>
            <a href="/users/changeemailfinal?conf=true&$query" class="red-btn"><button class="btn red-btn">Yes</button></a>
            <a href="/users/changeemailfinal?conf=false&$query" class="red-btn"><button class="btn red-btn">No</button></a>
        </div>
    </div>
</div>
#end

#parse('/views/usermanagement/main.html')