#define ($body-nav-extra)
    #parse("/views/templates/navbar-login.html")
#end
#define ($body-html)
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h2> $!message</h2>
    </div>
</div>

#end
#parse('/views/mot-main.html')