#define ($body-html)
<div class="container">

    <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

            <h1>Forgot password</h1>
            <form role="form" action="/users/forgotpassword" method="post" class="red-form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" placeholder="Email" name="email" id="email">
                </div>
                #set($varname='forgotPasswordUser.email') #parse("/views/snippets/formError.vm")

                <button type="submit" class="btn btn-primary">Reset my password</button>
            </form>

        </div>
    </div>
</div>
#end

#parse('/views/mot-main.html')