#define ($body-html)
<div class="container">

    <div class="row">

        <div class="col-sm-6 col-sm-offset-3">
            <h1>New password</h1>
            <form role="form" action="/users/forgotpasswordfinal" method="post" class="red-form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" value="$!person.subject.principal" name="email" id="email" readonly>
                    #set($varname='forgotPasswordUserFinal.email') #parse("/views/snippets/formError.vm")
                </div>
                <div class="form-group">
                    <label for="password">Your new password</label>
                    <input type="password" class="form-control" placeholder="password" name="password" id="password">
                    #set($varname='forgotPasswordUserFinal.password') #parse("/views/snippets/formError.vm")
                </div>

                <div class="form-group">
                    <label for="passwordCheck">Repeat your new password</label>
                    <input type="password" class="form-control" placeholder="password" name="passwordCheck" id="passwordCheck">
                    #set($varname='forgotPasswordUserFinal.passwordcheck') #parse("/views/snippets/formError.vm")
                    #set($varname='forgotPasswordUserFinal.equality') #parse("/views/snippets/formError.vm")
                </div>
                <input type="hidden" name="id" id="id" value="$!person.id">
                <input type="hidden" name="confirmation" id="confirmation" value="$!person.subject.confirmation">
                <button type="submit" class="btn btn-primary">Proceed</button>
            </form>

        </div>
    </div>
</div>
#end

#parse('/views/usermanagement/main.html')