#define ($navbar-extra)
<div class="col-md-1">
    #if(!$isProfile || $isAdmin)
        <a href="/users" class="red-btn">
            <button class="btn btn-default  navbar-btn">Users</button>
        </a>
    #end
</div>
<div class="col-md-offset-6 col-md-2">
    <a href="" class="red-btn">
        <button type="submit" form="userForm" class="btn btn-default pull-right navbar-btn">#if($isProfile && !$isAdmin) Save profile #else Save user #end</button>
    </a>
</div>
#end

#define ($body-html)
<div class="container">

    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <h1>Edit user</h1>

            <form role="form" method="POST" #if($isProfile) action="/users/$editUser.id/profile" #else action="/users/$editUser.id" #end class="red-form" id="userForm">
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" placeholder="First name" name="firstName" id="firstName" value="$!editUser.firstName">
                    #set($varname='editUser.firstName') #parse("/views/snippets/formError.vm")
                </div>

                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" placeholder="Last name" name="lastName" id="lastName" value="$!editUser.lastName">
                    #set($varname='editUser.lastName') #parse("/views/snippets/formError.vm")
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" placeholder="Email" name="email" id="email" value="$!editUser.email">
                    #set($varname='editUser.email') #parse("/views/snippets/formError.vm")
                </div>


                #if(!$isProfile)
                    <div class="form-group">
                        <label for="role">Role</label>
                        <select class="form-control" name="role" id="role" value="$!editUser.subject.role">
                            #foreach($role in $roles)
                                <option #if($role == $!editUser.subject.role) selected #end value="$role">$role</option>
                            #end
                        </select>
                        #set($varname='editUser.role') #parse("/views/snippets/formError.vm")
                    </div>

                    <div class="checkbox">
                        <label for="active"><input type="checkbox" name="active" id="active" value="true" #if($editUser.subject.active)checked#end>Active</label>
                    </div>
                #end
            </form>
            <div class="footer">
                <hr>
                <a href="/users/$editUser.id/changepassword" class="red-accent">Change password</a>
            </div>
        </div>
    </div>
</div>
#end

#parse('/views/usermanagement/main.html')