#define($header-scripts-extra)
<script src="/assets/javascripts/users.js" type="application/javascript" ></script>
#end

#define($navbar-extra)
<div class="col-md-offset-7 col-md-2">
    <a href="/users/new" class="red-btn">
        <button class="btn btn-default pull-right navbar-btn">New user</button>
    </a>
</div>
#end

#define ($body-html)
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table red-table">
                    <thead>
                    <tr>
                        <th><a href="users?sort=firstName">
                            First name
                            <span class="glyphicon glyphicon-chevron-up" #if($sortedBy != "firstName") style="opacity: 0" #end></span>
                        </a></th>
                        <th><a href="users?sort=lastName">
                            Last name
                            <span class="glyphicon glyphicon-chevron-up" #if($sortedBy != "lastName") style="opacity: 0" #end></span>
                        </a></th>
                        <th><a href="users?sort=email">
                            Email
                            <span class="glyphicon glyphicon-chevron-up" #if($sortedBy != "email") style="opacity: 0" #end></span>
                        </a></th>
                        <th><a href="users?sort=subject">
                            Role
                            <span class="glyphicon glyphicon-chevron-up" #if($sortedBy != "subject") style="opacity: 0" #end></span>
                        </a></th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($user in $users)
                        <tr>
                            <td href="/users/$user.id">$!user.firstName</td>
                            <td href="/users/$user.id">$!user.lastName</td>
                            <td href="/users/$user.id">$!user.email</td>
                            <td href="/users/$user.id">$!user.subject.role</td>
                            <td class="delete"><a url="/users/$user.id"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
#end

#parse('/views/usermanagement/main.html')