#define($header-scripts-extra)
<script src="/assets/javascripts/users.js" type="application/javascript" ></script>
#end

#define($navbar-extra)
<div class="col-md-offset-7 col-md-2">
    <a href="/users/new" class="red-btn">
        <button class="btn btn-default pull-right navbar-btn">New user</button>
    </a>
</div>
#end

#define ($body-html)
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table red-table">
                    <thead>
                    <tr>
                        <th><a href="/users?sort=firstName&inactive=$showInactive" class="sortlink" name="firstName">
                            First name
                            <span class="glyphicon glyphicon-chevron-up" #if($sortedBy != "firstName") style="opacity: 0" #end></span>
                        </a></th>
                        <th><a href="/users?sort=lastName&inactive=$showInactive" class="sortlink" name="lastName">
                            Last name
                            <span class="glyphicon glyphicon-chevron-up" #if($sortedBy != "lastName") style="opacity: 0" #end></span>
                        </a></th>
                        <th><a href="/users?sort=email&inactive=$showInactive" class="sortlink" name="email">
                            Email
                            <span class="glyphicon glyphicon-chevron-up" #if($sortedBy != "email") style="opacity: 0" #end></span>
                        </a></th>
                        <th><a href="/users?sort=subject&inactive=$showInactive" class="sortlink" name="subject">
                            Role
                            <span class="glyphicon glyphicon-chevron-up" #if($sortedBy != "subject") style="opacity: 0" #end></span>
                        </a></th>
                        <th><a onclick="changeActiveView()" id="changeActiveView">
                            #if($showInactive)
                                Hide inactive
                            #else
                                Show inactive
                            #end
                        </a></th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($user in $users)
                        <tr href="/users/$user.id" #if(!$user.subject.active)class="inactive"#end>
                            <td>$!user.firstName</td>
                            <td>$!user.lastName</td>
                            <td>$!user.email</td>
                            <td>$!user.subject.role</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <script>
        var showInactive = $showInactive;
    </script>
#end

#parse('/views/usermanagement/main.html')