<div typeof="experience-page" class="container" blueprint template="menu-footer">
    <div property="title" title="experience-title" typeof="pagetitle" class="pagetitle row">
        <header class="col-md-12">
            <nav class="breadcrumb">
                <ul>
                    <li><a href="" title="">het MOT</a>\</li>
                    <li><span property="title" name="short">beleving</span></li>
                </ul>
            </nav>
            <h2 property="title" name="long" class="red">Beleving</h2>
        </header>
    </div>
    <div class="experiences row" can-layout>
        <article typeof="experience" class="experience square col-sm-6 col-md-4 col-lg-3">
            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="experience-title" can-edit>“Does”, actie in het museum!</h3>
                            </header>
                        </span>
            </a>
        </article>
        <article typeof="experience" class="experience square col-sm-6 col-md-4 col-lg-3">
            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="experience-title" can-edit>Onze demonstraties</h3>
                            </header>
                        </span>
            </a>
        </article>
        <article typeof="experience" class="experience square col-sm-6 col-md-4 col-lg-3">
            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="experience-title" can-edit>Geocaching</h3>
                            </header>
                        </span>
            </a>
        </article>
        <article typeof="experience" class="experience square col-sm-6 col-md-4 col-lg-3">
            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="experience-title" can-edit>De “Bak-doe”, zelf brood bakken</h3>
                            </header>
                        </span>
            </a>
        </article>
        <article typeof="experience" class="experience square col-sm-6 col-md-4 col-lg-3">
            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="experience-title" can-edit>Speuren met Molly de Mot</h3>
                            </header>
                        </span>
            </a>
        </article>
        <article typeof="info" class="info square col-sm-6 col-md-4 col-lg-3">
            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="info-title" class="red" can-edit>Info voor scholen</h3>
                            </header>
                        </span>
            </a>
        </article>
        <article typeof="info" class="info square col-sm-6 col-md-4 col-lg-3">
            <a href="" title="">
                        <span class="square-inner">
                            <header>
                                <h3 property="info-title" class="red" can-edit>Info voor groepen</h3>
                            </header>
                        </span>
            </a>
        </article>
    </div>
</div>