<footer typeof="mot-footer" blueprint>
    <div typeof="sponsors" id="sponsors" class="container" blueprint>
        <div class="row">
            <div class="col-md-12">
                <ul class="sponsor-list">
                    <li property="sponsor" name="erkend-museum"><a href="" title=""><img src="../assets/media/images/erkendmuseum.png" alt="" /></a></li>
                    <li property="sponsor" name="vlaamse-overheid"><a href="" title=""><img src="../assets/media/images/vlaamseoverheid.png" alt="" /></a></li>
                    <li property="sponsor" name="provincie-vlaamsbrabant"><a href="" title=""><img src="../assets/media/images/provincie-vlaamsbrabant.png" alt="" /></a></li>
                    <li property="sponsor" name="grimbergen"><a href="" title=""><img src="../assets/media/images/grimbergen.png" alt="" /></a></li>
                    <p>Deze website kwam tot stand met de steun van de Provincie Vlaams-Brabant</p>
                </ul>
            </div>
        </div>
    </div>
    <div id="lastline">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p id="copy"><img src="../assets/media/images/copy.jpg" alt=""/>Je mag teksten hergebruiken als je de bron vermeldt.</p>
                    <p id="creds">Website by <a href="http://www.beligum.com" title="">Beligum</a> &amp; <a href="http://www.zologie.com" title="">Zologie</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>