<div typeof="mot-menu" lang="nl" blueprint>
    <div class="row">
        <h1 class="col-md-2" id="logo"><a href="index" title="">MOT</a></h1>
        <div id="navigation">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12 contact">
                        <ul>
                            <li>+32 2 270 81 11</li>
                            <li><a href="mailto:info@mot.be" title="">info@mot.be</a></li>
                        </ul>
                    </div>
                </div>
                <div id="accessibility" class="row">
                    <div class="col-md-12">
                        <div class="fontsize">
                            <ul>
                                <li class="smaller"><a href="" title="">A</a></li>
                                <li class="larger"><a href="" title="">A</a></li>
                            </ul>
                        </div>
                        <nav class="languages">
                            <ul>
                                <li><a class="active" href="" title="">nl</a></li>
                                <li><a href="" title="">fr</a></li>
                                <li><a href="" title="">en</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div id="menu" class="row">
                    <nav class="col-md-9">
                        <ul>
                            <li><a href="museum" title="">museum</a></li>
                            <li><a href="beleving" title="">beleving</a></li>
                            <li><a href="praktisch" title="">praktisch</a></li>
                        </ul>
                    </nav>
                    <div class="col-md-3 search-button">
                        <a href="opzoeken" title="">Opzoeken!</a>
                    </div>
                </div>
            </div>
        </div>
        <span id="mobilebutton"><img src="../assets/media/images/mobilebutton.svg" alt=""/></span>
    </div>
</div>

<div typeof="mot-menu" lang="en" blueprint>
    <div class="row">
        <h1 class="col-md-2"><a href="index" title="">MOT</a></h1>
        <div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12 contact">
                        <ul>
                            <li>+32 2 270 81 11</li>
                            <li><a href="mailto:info@mot.be" title="">info@mot.be</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="fontsize">
                            <ul>
                                <li class="smaller"><a href="" title="">A</a></li>
                                <li class="larger"><a href="" title="">A</a></li>
                            </ul>
                        </div>
                        <nav class="languages">
                            <ul>
                                <li><a class="active" href="" title="">nl</a></li>
                                <li><a href="" title="">fr</a></li>
                                <li><a href="" title="">en</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <nav class="col-md-9">
                        <ul>
                            <li><a href="museum" title="">museum</a></li>
                            <li><a href="beleving" title="">experience</a></li>
                            <li><a href="praktisch" title="">practical</a></li>
                        </ul>
                    </nav>
                    <div class="col-md-3 search-button">
                        <a href="opzoeken" title="">Search!</a>
                    </div>
                </div>
            </div>
        </div>
        <span><img src="../assets/media/images/mobilebutton.svg" alt=""/></span>
    </div>
</div>

<div typeof="mot-menu" lang="fr" blueprint>
    <div class="row">
        <h1 class="col-md-2"><a href="index" title="">MOT</a></h1>
        <div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12 contact">
                        <ul>
                            <li>+32 2 270 81 11</li>
                            <li><a href="mailto:info@mot.be" title="">info@mot.be</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="fontsize">
                            <ul>
                                <li class="smaller"><a href="" title="">A</a></li>
                                <li class="larger"><a href="" title="">A</a></li>
                            </ul>
                        </div>
                        <nav class="languages">
                            <ul>
                                <li><a class="active" href="" title="">nl</a></li>
                                <li><a href="" title="">fr</a></li>
                                <li><a href="" title="">en</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <nav class="col-md-9">
                        <ul>
                            <li><a href="museum" title="">musée</a></li>
                            <li><a href="beleving" title="">experiences</a></li>
                            <li><a href="praktisch" title="">pratique</a></li>
                        </ul>
                    </nav>
                    <div class="col-md-3 search-button">
                        <a href="opzoeken" title="">Rechercher!</a>
                    </div>
                </div>
            </div>
        </div>
        <span><img src="../assets/media/images/mobilebutton.svg" alt=""/></span>
    </div>
</div>

