<div typeof="mot-slideshow" class="slideshow" blueprint>
    <article property="slideshow-item" can-edit>
        <div class="container">
            <div class="row">
                <header class="col-md-8">
                    <p property="slideshow-announcement" class="announcement red" can-edit>In de kijker:</p>
                    <h2 property="slideshow-title" class="slideshow-title" can-edit>Live smeden</h2>
                    <p property="slideshow-subtitle" class="slideshow-subtitle" can-edit>Van april tot en met september elke eerste en derde zaterdag van 14u. tot 18u.</p>
                </header>
            </div>
        </div>
    </article>
</div>