<div typeof="museum-page" blueprint template="menu-footer">
    <div property="title" name="museum-title" typeof="pagetitle" class="pagetitle">
        <div class="row">
            <header class="col-md-12">
                <nav class="breadcrumb">
                    <ul>
                        <li><a href="" title="">het MOT</a>\</li>
                        <li><span property="title" can-edit name="short">museum</span></li>
                    </ul>
                </nav>
                <h2 property="title" name="long" can-edit class="red">Het museum</h2>
            </header>
        </div>
    </div>
    <div class="sectiontitle row">
        <header property="section-title" name="tentoonstellingen" typeof="sectiontitle" class="col-md-12">
            <h3 class="red" can-edit>Onze tentoonstellingen</h3>
        </header>
    </div>
    <div property="exhibitions"  class="exhibitions" typeof="exhibitions" can-layout>
        <div class="row">
            <div class="column col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <article id="houtbewerking" property="exhibition" name="houtbewerking" typeof="exhibition" class="column exhibition square">
                            <a href="" title="">
                            <span class="square-inner bgbrown">
                                <header>
                                    <h3 property="exhibition-title"  can-edit>Houtbewerking</h3>
                                </header>
                                <img property="exhibition-image" alt="" src=""/>
                            </span>
                            </a>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article id="was" property="exhibition" name="was" typeof="exhibition" class="column exhibition square">
                            <a href="" title="">
                            <span class="square-inner bgorange">
                                <header>
                                    <h3 property="exhibition-title" can-edit>Sterke vrouwen, zware was</h3>
                                </header>
                                <img property="exhibition-image" alt="" src=""/>
                            </span>
                            </a>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article id="smid" property="exhibition" name="smid" typeof="exhibition" class="column exhibition square">
                            <a href="" title="">
                            <span class="square-inner bgdarkblue">
                                <header>
                                    <h3 property="exhibition-title" can-edit>De smid. Baas van ijzer en vuur</h3>
                                </header>
                                <img property="exhibition-image" alt="" src=""/>
                            </span>
                            </a>
                        </article>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-4">
                        <article id="rijstteelt" property="exhibition" name="rijstteelt" typeof="exhibition" class="column exhibition square">
                            <a href="" title="">
                            <span class="square-inner bggreen">
                                <header>
                                    <h3 property="exhibition-title" can-edit>De rijstteelt in het vroegere Japan</h3>
                                </header>
                                <img property="exhibition-image" alt="" src=""/>
                            </span>
                            </a>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article id="molen" property="exhibition" name="molen" typeof="exhibition" class="column exhibition square">
                            <a href="" title="">
                            <span class="square-inner bgblue">
                                <header>
                                    <h3 property="exhibition-title" can-edit>Molen en malen</h3>
                                </header>
                                <img property="exhibition-image" alt="" src=""/>
                            </span>
                            </a>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article property="exhibition" name="what-button" typeof="exhibition" class="column what-button square">
                            <a href="" title="">
                            <span class="square-inner">
                                <header can-edit>
                                    <h3>Een titel hier</h3>
                                </header>
                                <img alt="" src=""/>
                            </span>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectiontitle row">
        <header property="sectiontitle" name="gebouwen" typeof="sectiontitle" class="col-md-12">
            <h3 class="red">Onze gebouwen</h3>
        </header>
    </div>

    <div property="buildings" class="buildings" can-layout>
        <div class="row">
            <div class="col-md-3">
                <article property="building" name="guldenhal" typeof="building" class="building">
                    <a href="" title="">
                        <img property="building-image" alt="" src="assets/media/images/guldendal.jpg"/>
                        <header>
                            <h3 property="building-title" class="red" can-edit>Guldendal</h3>
                            <p property="building-subtitle" class="red" can-edit>Stallingen van het kasteel</p>
                        </header>
                        <p property="building-text" can-edit>
                            Open het hele jaar door, elke weekdag van 9 tot 5 en van april tot oktober ook in het weekend van 2 tot 6
                        </p>
                    </a>
                </article>
            </div>
            <div class="col-md-3">
                <article property="building" name="tommenmolen" typeof="building" class="building">
                    <a href="" title="">
                        <img property="building-image" alt="" src="assets/media/images/tommenmolen.jpg" can-edit/>
                        <header>
                            <h3 property="building-title" class="red" can-edit>Tommenmolen</h3>
                            <p property="building-subtitle" class="red" can-edit>Graanwatermolen</p>
                        </header>
                        <p property="building-text" can-edit>
                            Open van april tot oktober in het weekend van 2 tot 6
                        </p>
                    </a>
                </article>
            </div>
            <div class="col-md-3">
                <article property="building" name="liermolen"typeof="building" class="building">
                    <a href="" title="">
                        <img property="building-image" alt="" src="assets/media/images/liermolen.jpg" can-edit/>
                        <header>
                            <h3 property="building-title" class="red" can-edit>Liermolen</h3>
                            <p property="building-subtitle" class="red" can-edit>Graanwatermolen</p>
                        </header>
                        <p property="building-text" can-edit>
                            Open van april tot oktober in het weekend van 2 tot 6
                        </p>
                    </a>
                </article>
            </div>
            <div class="col-md-3">
                <article property="building" name="prinsenkasteel" typeof="building" class="building">
                    <a href="" title="">
                        <img property="building-image" alt="" src="assets/media/images/prinsenkasteel.jpg" can-edit/>
                        <header>
                            <h3 property="building-title" class="red" can-edit>Prinsenkasteel</h3>
                            <p property="building-subtitle" class="red" can-edit>Ruïnes van het kasteel</p>
                        </header>
                        <p property="building-text" can-edit>
                            Voorlopig nog niet te bezichtigen
                        </p>
                    </a>
                </article>
            </div>
        </div>
    </div>
    </div>