##<!DOCTYPE html>
##<html template="default">
##<head>
##    <meta charset="UTF-8">
##    <meta http-equiv="X-UA-Compatible" content="IE=edge">
##    <meta name="viewport" content="width=device-width, initial-scale=1">
##
##    <title></title>
##
####    TODO: fix favicon usage
####    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
##
##    <link href="/assets/stylesheets/styles.less" rel="stylesheet" type="text/css" />
##
##
##    <script src="/assets/libs/jquery/jquery-1.11.1.js" type="application/javascript" ></script>
##
##    <script src="/assets/javascripts/blocks.js" type="application/javascript" ></script>
##    <script src="/assets/javascripts/core.js" type="application/javascript" ></script>
##    <script src="/assets/javascripts/broadcaster.js" type="application/javascript" ></script>
##    <script src="/assets/javascripts/layout.js" type="application/javascript" ></script>
##    <script src="/assets/javascripts/dom-manipulation.js" type="application/javascript" ></script>
##    <script src="/assets/javascripts/elements.js" type="application/javascript" ></script>
##    <script src="/assets/javascripts/mouse.js" type="application/javascript" ></script>
##    <script src="/assets/javascripts/resizer.js" type="application/javascript" ></script>
##    <script src="/assets/javascripts/dragdrop.js" type="application/javascript" ></script>
##    <script src="/assets/javascripts/blockmenu.js" type="application/javascript" ></script>
##    <script src="/assets/javascripts/blockmenu-buttons.js" type="application/javascript" ></script>
##    <script src="/assets/javascripts/layout-aid.js" type="application/javascript" ></script>
##    <script src="/assets/javascripts/notification.js" type="application/javascript" ></script>
##
##
##</head>
##
##<body>
##    <div class="container" content>
##
##    </div>
##
##</body>
##
##</html>