<html>
<head>
<link  href="/assets/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="/assets/stylesheets/styles.less" rel="stylesheet" />
</head>

<body>
<div class="container" typeof="page">
    <div class="row can-edit"typeof="helloworld">
        <div class="col-md-12 column">
            <div class="center-block">
                <h1>Hello world!</h1>
            </div>
        </div>
    </div>
    <div class="row can-edit" typeof="blabla">
        <script src="/assets/libs/jquery/jquery-1.11.1.js" type="application/javascript" ></script>
        <script src="/templates/entities/pagina.js" type="application/javascript" ></script>
        <div class="col-md-6 column">
            <div class="can-edit" typeof="veranderbaar">
                Hier zult u vanalles kunnen plaatsen...
            </div>
        </div>
        <div class="col-md-6 column" typeof="onveranderbaar">
            Hier kunt u niets veranderen...
            <img>
        </div>
    </div>
    <div class="row" id="knoprij">
        <div class="col-md-12 column">
            <div class="block" id="knopje">
                <button type="button" class="btn btn-default" onclick="save()">Save</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>