<html>
<head>
<link href="/assets/stylesheets/styles.less" rel="stylesheet" />
</head>

<body>
<div class="container can-layout" style="color: blue" typeof="page">
    <script src="/templates/entities/pagina/page.js" type="application/javascript" ></script>
    <div class="row can-edit" property="paginaWereld" typeof="helloworld">
        <div class="col-md-12 column">
            <div class="center-block">
                <h1>Hello world!</h1>
            </div>
        </div>
    </div>

    <div class="row can-layout" typeof="blabla" id="33">
        <script src="/assets/libs/jquery/jquery-1.11.1.js" type="application/javascript" ></script>
        <script src="/templates/entities/pagina/page.js" type="application/javascript" ></script>
        <div class="col-md-6 column">
            <div class="can-edit" property="veranderbaar_ding" typeof="veranderbaar" id="een">
                Hier zult u vanalles kunnen plaatsen...
            </div>
        </div>
        <div class="col-md-6 column"  property="veranderbaar-ding" typeof="onveranderbaar">
            <div id="toch_niet">
                Hier kunt u niets veranderen...
            </div>
            <div class="row" id="knoprij">
                <div class="col-md-12 column">
                    <div class="block" id="knopje">
                        <button type="button" class="btn btn-default">Waardeloze button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>