#join()

<link href="/assets/webjars/bootstrap/3.3.4/less/bootstrap.less" rel="stylesheet" />
<link href="/assets/webjars/font-awesome/4.3.0/less/font-awesome.less" rel="stylesheet" />

<link href="/assets/libs/bootstrap-dialogs/less/bootstrap-dialog.less" rel="stylesheet" />
<!-- This allows us to import the less libraries (elements, animate, ...) only once -->
<link href="/assets/styles/styles.less" rel="stylesheet" />

<script src="/assets/webjars/jquery/1.11.1/jquery.js" type="application/javascript" ></script>
<script src="/assets/webjars/jquery-cookie/1.4.1-1/jquery.cookie.js" type="application/javascript" ></script>
<script src="/assets/webjars/bootstrap/3.3.4/js/bootstrap.js" type="application/javascript" ></script>

<script src="/assets/libs/bootstrap-dialogs/js/bootstrap-dialog.min.js" type="application/javascript"></script>
<script src="/assets/javascripts/ckeditor/ckeditor.js" type="application/javascript" ></script>
<script src="/assets/javascripts/ckeditor/adapters/jquery.js" type="application/javascript" ></script>

<script src="/assets/javascripts/medium/medium.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blocks.js" type="application/javascript" ></script>

<script src="/assets/javascripts/elements/surface.js" type="application/javascript" ></script>
<script src="/assets/javascripts/elements/layoutElement.js" type="application/javascript" ></script>
<script src="/assets/javascripts/elements/property.js" type="application/javascript" ></script>
<script src="/assets/javascripts/elements/resizeHandle.js" type="application/javascript" ></script>
<script src="/assets/javascripts/elements/dropspot.js" type="application/javascript" ></script>
<script src="/assets/javascripts/elements/row.js" type="application/javascript" ></script>
<script src="/assets/javascripts/elements/column.js" type="application/javascript" ></script>
<script src="/assets/javascripts/elements/container.js" type="application/javascript" ></script>
<script src="/assets/javascripts/elements/block.js" type="application/javascript" ></script>

<script src="/assets/javascripts/core.js" type="application/javascript" ></script>
<script src="/assets/javascripts/broadcaster.js" type="application/javascript" ></script>
<script src="/assets/javascripts/layout.js" type="application/javascript" ></script>
<script src="/assets/javascripts/utils/dom-manipulation.js" type="application/javascript" ></script>

<script src="/assets/javascripts/mouse.js" type="application/javascript" ></script>
<script src="/assets/javascripts/resizer.js" type="application/javascript" ></script>
<script src="/assets/javascripts/dragdrop.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blockmenu/blockmenu.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blockmenu/delete.js" type="application/javascript" ></script>
<script src="/assets/javascripts/utils/highlighter.js" type="application/javascript" ></script>
<script src="/assets/javascripts/utils/notification.js" type="application/javascript" ></script>
<script src="/assets/javascripts/utils/sitemap.js" type="application/javascript"></script>
<script src="/assets/javascripts/blockmenu/edit.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blockmenu/entity-edit.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blockmenu/create.js" type="application/javascript" ></script>
<script src="/assets/javascripts/overlay.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blocks/image.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blocks/video.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blocks/blok-link.js" type="application/javascript" ></script>
<script src="/assets/javascripts/menu/menu.js" type="application/javascript"></script>
<script src="/assets/javascripts/manager.js" type="application/javascript"></script>

<!--All scripts for the finder and fileupload (inside the finder)-->
<script src="/assets/libs/file-upload/jquery-ui-widget.js"></script>
<script src="/assets/libs/file-upload/jquery.iframe-transport.js"></script>
<script src="/assets/libs/file-upload/jquery.fileupload.js"></script>
<script src="/constants/blocks/finder?type=js" type="application/javascript"></script>
<script src="/assets/javascripts/finder/finder.js" type="application/javascript" ></script>
<script src="/assets/javascripts/finder/finder-ui.js" type="application/javascript" ></script>
#end