<script src="/assets/javascripts/medium/medium.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blocks.js" type="application/javascript" ></script>
<script src="/assets/javascripts/core.js" type="application/javascript" ></script>
<script src="/assets/javascripts/broadcaster.js" type="application/javascript" ></script>
<script src="/assets/javascripts/layout.js" type="application/javascript" ></script>
<script src="/assets/javascripts/utils/dom-manipulation.js" type="application/javascript" ></script>
<script src="/assets/javascripts/elements.js" type="application/javascript" ></script>
<script src="/assets/javascripts/mouse.js" type="application/javascript" ></script>
<script src="/assets/javascripts/resizer.js" type="application/javascript" ></script>
<script src="/assets/javascripts/dragdrop.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blockmenu/blockmenu.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blockmenu/blockmenu-buttons.js" type="application/javascript" ></script>
<script src="/assets/javascripts/utils/layout-aid.js" type="application/javascript" ></script>
<script src="/assets/javascripts/utils/notification.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blockmenu/edit.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blockmenu/admin.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blockmenu/create.js" type="application/javascript" ></script>
<script src="/assets/javascripts/overlay.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blocks/image.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blocks/video.js" type="application/javascript" ></script>
<script src="/assets/javascripts/blocks/blok-link.js" type="application/javascript" ></script>
<script src="/assets/javascripts/menu/menu.js" type="application/javascript"></script>

<script src="/assets/javascripts/ckeditor/ckeditor.js" type="application/javascript" ></script>
<script src="/assets/javascripts/ckeditor/adapters/jquery.js" type="application/javascript" ></script>