<!DOCTYPE html>
<html template="default">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <link  href="/assets/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/stylesheets/styles.less" rel="stylesheet" type="text/css" />


    <script src="/assets/libs/jquery/jquery-1.11.1.js" type="application/javascript" ></script>

    <script src="/assets/javascripts/blocks.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/core.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/broadcaster.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/layout.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/utils/dom-manipulation.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/elements.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/mouse.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/resizer.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/dragdrop.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/blockmenu/blockmenu.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/blockmenu/blockmenu-buttons.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/utils/layout-aid.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/utils/notification.js" type="application/javascript" ></script>


</head>

<body>
    <div class="container">
        <div class="row">
            <div class="column">
                <div template-content></div>
            </div>
        </div>
    </div>

</body>

</html>