<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table max-width="300" cellpadding="30" width='100%' align='center' bgcolor='#ffff00'>
    <tr>
        <td width='20%' height='100%' bgcolor='#ffff00'>
        </td>
        <td width='50%' height='100%' bgcolor='#ffff00'>
            <table>
                <tr>

                    <img width='100%' src='http://www.futuretalents.tv/assets/images/mailmonkey.png' alt='monky.png'>

                    $!mailbody-html

                </tr>
            </table>
            <table>
                <tr style="width:100%">

                    <td>
                        <a style="text-decoration: none;text-align: center;word-wrap: break-word;"
                           href="http://www.futuretalents.tv"><img
                                src='http://www.futuretalents.tv/assets/images/icons/link.png'
                                style="width:15px; height:auto">
                            Future Talents TV</a>
                    </td>
                    <td>
                        <a style="text-decoration: none;text-align: center;word-wrap: break-word;"
                           href="http://www.futuretalents.be"><img
                                src='http://www.futuretalents.tv/assets/images/icons/link.png'
                                style="width:15px; height:auto">Future Talents BE</a>

                    </td>
                    <td>
                        <a style="text-decoration: none;text-align: center;word-wrap: break-word;"
                           href="https://www.facebook.com/futuretalents.be"><img
                                src='http://www.futuretalents.tv/assets/images/icons/facebook.png'
                                style="width:15px; height:auto"> Facebook</a>
                    </td>
                    <td>
                        <a style="text-decoration: none;text-align: center;word-wrap: break-word;"
                           href="https://twitter.com/future_talents"><img
                                src='http://www.futuretalents.tv/assets/images/icons/twitter.png'
                                style="width:15px; height:auto"> Twitter</a>

                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td> Future Talents - Dok-Noord 4D - 9000 Gent - info@futuretalents.be - 0483 082 477</td>
                </tr>
            </table>
        </td>
        <td width='20%' height='100%' bgcolor='#ffff00'>

        </td>
    </tr>
</table>

</body>
</html>