#define($body-html)
<div class="container $CONSTANTS.blocks.core.ADMIN_PAGE_CLASS">
    <div class="row">
        <div class="col-sm-12">

            <h1>$MESSAGES.blocks.core.adminPageTitle</h1>

            <div>
                <p>$MESSAGES.blocks.core.selectFromTheListBelow</p>
                <ul>
                    <li><a href="/admin/reset/templates">$MESSAGES.blocks.core.adminActionResetTemplates"</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#end

#parse("/templates/main.html")