#define($header-scripts-extra)
<script src="/assets/javascripts/deleted-page.js" type="application/javascript" ></script>
#end

#define($body-html)
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="block center-block">
                <h2>This page has been deleted.</h2>
                <h4>Do you want to create a new page or show the deleted version?</h4>
            </div>
        </div>
    </div>
    <div class="row red-form">
        <div class="col-md-offset-1 col-md-5">
            <div class="row" id="class-selection">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <button onclick="showSelectionModal()" class="form-control btn btn-primary">New page</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-5">
            <form method="POST" action="/entities/deletedversion" id="lastversion" class="red-form">
                <input type="hidden" name="page-url" value="$entityUrl"/>
                <button type="submit" class="form-control btn btn-primary" style="">Deleted version</button>
            </form>
        </div>
    </div>
</div>
#end

#parse("/templates/main.html")