<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Stralo demo page</title>
    <link href="/assets/libs/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/assets/stylesheets/style.less" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="/assets/javascripts/lib/my-class.min.js" type="application/javascript"></script>
    <script src="/assets/javascripts/boot.js" type="application/javascript"></script>
    <script src="/assets/libs/jquery/jquery-1.11.1.js" type="application/javascript"></script>

    <!--<script src="/assets/javascripts/module.js" type="application/javascript" ></script>-->
    <script src="/assets/javascripts/blocks.js" type="application/javascript"></script>
    <script src="/assets/javascripts/core.js" type="application/javascript"></script>
    <script src="/assets/javascripts/broadcaster.js" type="application/javascript"></script>
    <script src="/assets/javascripts/layout.js" type="application/javascript"></script>
    <script src="/assets/javascripts/dom-manipulation.js" type="application/javascript"></script>
    <script src="/assets/javascripts/elements.js" type="application/javascript"></script>
    <script src="/assets/javascripts/mouse.js" type="application/javascript"></script>
    <script src="/assets/javascripts/resizer.js" type="application/javascript"></script>
    <script src="/assets/javascripts/dragdrop.js" type="application/javascript"></script>
    <script src="/assets/javascripts/blockmenu.js" type="application/javascript"></script>
    <script src="/assets/javascripts/blockmenu-buttons.js" type="application/javascript"></script>
    <script src="/assets/javascripts/layout-aid.js" type="application/javascript"></script>


</head>
<body>
<div class="container">
    <div class="row can-layout">
        <div class="col-md-5 column">
            <div class="block">
            </div>
        </div>
        <div class="col-md-2 column">
            <div class="block">
                <img src="/assets/images/stralo_logo.png" style="width: 100%; display: block;">
            </div>
        </div>
        <div class="col-md-5 column">
            <div class="block">
            </div>
        </div>
    </div>
    <div class="row can-layout">
        <div class="col-md-12 column">
            <div class="row">
                <div class="col-md-6 column">
                    <div class="row">
                        <div class="col-md-6 column">
                            <div class="block">
                                <h1>De Leeuw</h1>
                            </div>
                            <div class="block"><i>Panthera Leo</i></div>
                        </div>
                        <div class="col-md-6 column">
                            <div class="block">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 column">
                    <div class="block">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 column">
                    <div class="block blue"><img src="/assets/images/leeuw.jpg" style="width: 100%; display: block;"></div>
                    <div class="block"><p>
                        <i>Leeuw in het wild, Namibië</i>
                    </p></div>
                </div>
                <div class="col-md-1 column">
                    <div class="block"></div>
                </div>
                <div class="col-md-5 column">
                    <div class="block"><p>De leeuw is een groot roofdier uit de familie der katachtigen (Felidae). Van alle katachtigen is enkel de tijger groter. De grootte en de manen van het
                        mannetje geven het dier een imposant uiterlijk, waardoor de leeuw in grote delen van de wereld bekendstaat als de koning der dieren. In Europa heeft hij deze rol overigens pas
                        in de loop van de Middeleeuwen overgenomen van de bruine beer.</p></div>
                    <div class="block"><p>
                        De leeuw is vaak onderwerp van folklore en symboliek geweest. Zo staat de leeuw afgebeeld in de wapens van verscheidene landen, streken en steden, waaronder Nederland en België. De leeuw in het wapen van Nederland is een afbeelding van de Kaapse leeuw, een uitgestorven ondersoort van de leeuw. Een opgezet exemplaar van deze opmerkelijk slanke leeuwensoort wordt bewaard in de schatkamer van het Leidse museum Naturalis.
                    </p></div>
                    <div class="block"><p>
                        De leeuw komt nog in bepaalde delen van Afrika voor en in een klein stukje van India, maar vroeger was hij ook algemeen in het Midden-Oosten en in Zuidoost-Europa. Hoewel het mannetje er met zijn manen heel indrukwekkend uitziet doen de vrouwtjes het meeste werk bij de jacht. Leeuwen leven in groepsverband (de enige katachtige die voornamelijk in sociale groepen leeft) en leeuwinnen gaan in de regel samen op jacht.
                    </p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ruler"></div>

</body>
</html>