<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon" />

    <link href="/assets/webjars/bootstrap/3.3.4/less/bootstrap.less" rel="stylesheet" />
    <link href="/assets/libs/bootstrap-dialogs/less/bootstrap-dialog.less" rel="stylesheet" />
    <link href="/assets/styles/usermanagement/mot-main.less" rel="stylesheet" />
    $!header-styles-extra

    <script src="/assets/webjars/jquery/1.11.1/jquery.js" type="application/javascript" ></script>
    <script src="/assets/webjars/bootstrap/3.3.4/js/bootstrap.js" type="application/javascript" ></script>
    <script src="/assets/libs/bootstrap-dialogs/js/bootstrap-dialog.min.js" type="application/javascript"></script>
    $!header-scripts-extra


</head>

<body $!body-args-extra>

<nav class="navbar red-navbar">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="logo">
                    <a href="/">
                    </a>
                </div>
            </div>
            $!navbar-extra
        </div>
    </div>
</nav>

$!buttonbar

#parse("/views/snippets/feedbackMessages.vm")

$!body-html

</body>
</html>