#define($body-html)
<div class="container new-page">
    <div class="row">
        <div class="col-sm-12">

            <h1>Do you want to create a new page?</h1>

            <form role="form" method="GET" action="/blocks/admin/page/template" class="form-inline">
                <input type="hidden" name="page_url" value="$url"/>

                <div class="form-group">
                    <select name="page_class_name" id="class-selection" class="form-control">
                        #foreach($template in $templates)
                            <option value="$template.get("name")">$template.get("title")</option>
                        #end
                    </select>

                    <button type="submit" class="btn btn-primary">New page</button>
                </div>
            </form>
        </div>
    </div>
</div>
#end

#parse("/templates/main.html")