#define($body-html)
<div class="container $CONSTANTS.blocks.core.NEW_PAGE_CLASS">
    <div class="row">
        <div class="col-sm-12">

            <h1>$MESSAGES.blocks.core.newPageTitle</h1>

            <h3>$MESSAGES.blocks.core.newPageSubTitle</h3>

            <div class="form-group sub-container">
                <label>$MESSAGES.blocks.core.selectFromTheListBelow</label>

                <div class="list-group">
                    #if($templates.isEmpty())
                        <i>$MESSAGES.blocks.core.noPageTemplatesAvailable</i>
                    #end

                    #foreach($template in $CONTEXT[$CONSTANTS.blocks.core.NEW_PAGE_TEMPLATE_TEMPLATES])
                        <a href="/blocks/admin/page/template?page_url=$TOOLKIT.esc.url($CONTEXT[$CONSTANTS.blocks.core.NEW_PAGE_TEMPLATE_URL])&page_class_name=$TOOLKIT.esc.url($template[$CONSTANTS.blocks.core.NEW_PAGE_TEMPLATE_NAME])" class="list-group-item">
                            <div class="preview">
                                <i class="fa fa-fw #if($template.icon)$template.icon#{else}fa-list-alt#end"></i>
                            </div>
                            <div class="caption">
                                <h4>$template[$CONSTANTS.blocks.core.NEW_PAGE_TEMPLATE_TITLE]</h4>
                                <p>
                                    $template[$CONSTANTS.blocks.core.NEW_PAGE_TEMPLATE_DESCRIPTION]
                                </p>
                            </div>
                        </a>
                    #end
                </div>
            </div>
        </div>
    </div>
</div>
#end

#parse("/templates/main.html")