#define($header-styles-extra)
<link href="/assets/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="/assets/stylesheets/styles.less" rel="stylesheet" />
#end

#define($header-scripts-extra)
<script src="/assets/libs/jquery/jquery-1.11.1.js" type="application/javascript" ></script>
<script src="/assets/javascripts/new.js" type="application/javascript" ></script>
#end

#define($body-args-extra)
class="page"
#end

#define($body-html)
<div class="container">
    <div class="row">
        <div class="colmd-12">
            <div class="block center-block">
                <h1>Wilt u een nieuwe lege pagina aanmaken?</h1>
            </div>
            <form method="POST" action="/pages/default">
                <button type="submit" class="btn btn-default">New page</button>
            </form>
        </div>
    </div>
</div>
#end

#parse("/views/templates/main.html")