<!DOCTYPE html>
<html template="default">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <link href="/assets/libs/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/assets/stylesheets/styles.less" rel="stylesheet"/>
    <link href="/assets/stylesheets/blocks.less" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <script src="/assets/libs/jquery/jquery-1.11.1.js" type="application/javascript"></script>

    <!--<script src="/assets/javascripts/module.js" type="application/javascript" ></script>-->
    <script src="/assets/javascripts/blocks.js" type="application/javascript"></script>
    <script src="/assets/javascripts/core.js" type="application/javascript"></script>
    <script src="/assets/javascripts/broadcaster.js" type="application/javascript"></script>
    <script src="/assets/javascripts/layout.js" type="application/javascript"></script>
    <script src="/assets/javascripts/utils/dom-manipulation.js" type="application/javascript"></script>
    <script src="/assets/javascripts/elements.js" type="application/javascript"></script>
    <script src="/assets/javascripts/mouse.js" type="application/javascript"></script>
    <script src="/assets/javascripts/resizer.js" type="application/javascript"></script>
    <script src="/assets/javascripts/dragdrop.js" type="application/javascript"></script>
    <script src="/assets/javascripts/blockmenu/blockmenu.js" type="application/javascript"></script>
    <script src="/assets/javascripts/blockmenu/blockmenu-buttons.js" type="application/javascript"></script>
    <script src="/assets/javascripts/blockmenu/dragbutton.js" type="application/javascript"></script>
    <script src="/assets/javascripts/utils/layout-aid.js" type="application/javascript"></script>
    <script src="/assets/javascripts/utils/notification.js" type="application/javascript"></script>
    <script src="/assets/javascripts/blockmenu/edit.js" type="application/javascript"></script>
    <script src="/assets/javascripts/blockmenu/admin.js" type="application/javascript"></script>
    <script src="/assets/javascripts/blockmenu/create.js" type="application/javascript"></script>
    <script src="/assets/javascripts/overlay.js" type="application/javascript"></script>
    <script src="/assets/javascripts/blocks/image.js" type="application/javascript"></script>
    <script src="/assets/javascripts/blocks/video.js" type="application/javascript"></script>

    <script src="/assets/javascripts/ckeditor/ckeditor.js" type="application/javascript"></script>
    <script src="/assets/javascripts/ckeditor/adapters/jquery.js" type="application/javascript"></script>
    <script src="/assets/javascripts/ckeditor/config.js" type="application/javascript"></script>


</head>
<body style="cursor: pointer;">

<div class="container">
    <div class="row can-layout">
        <div class="column col-md-12">


            <div class="row">
                <div class="column col-md-12">
                    <div class="block can-edit" typeof="text" contenteditable=""><h1>Overzicht</h1>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column col-md-9">
                    <div class="block can-edit" typeof="text" style="display: block;">
                        <h1>De activist</h1>
                    </div>
                </div>
                <div class="column col-md-3">
                    <div class="block" typeof="image" style="display: block;">
                        <div class="image-container"><img class="img-responsive" src="/assets/images/navigo/wetenschapper.jpg">

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column col-md-9">
                    <div class="block can-edit" typeof="text" style="display: block;"><h1>Enter here your text.</h1></div>
                </div>
                <div class="column col-md-3">
                    <div class="block" typeof="image" style="display: block;">
                        <div class="image-container"><img class="img-responsive" src="/assets/images/navigo/wetenschapper.jpg">

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column col-md-12">
                    <div class="row">
                        <div class="column col-md-9">
                            <div class="block can-edit" typeof="text" style="display: block;"><h1>Enter here your text.</h1></div>
                        </div>
                        <div class="column col-md-3">
                            <div class="block" typeof="image" style="display: block;">
                                <div class="image-container"><img class="img-responsive" src="/assets/images/navigo/wetenschapper.jpg">

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column col-md-4">
                            <div class="block" typeof="image">
                                <div class="image-container"><img class="img-responsive" src="/assets/images/navigo/wetenschapper.jpg">

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="column col-md-8">
                            <div class="block can-edit" typeof="text" style="display: block;"><h1>Enter here your text.</h1></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column col-md-8">
                    <div class="block can-edit" typeof="text" style="display: block; position: relative; z-index: 693;"><h1>Enter here your text.</h1></div>
                </div>
                <div class="column col-md-4">
                    <div class="block" typeof="image" style="display: block;">
                        <div class="image-container"><img class="img-responsive" src="/assets/images/navigo/wetenschapper.jpg">

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column col-md-12">
                    <div class="block can-edit" typeof="text" style="display: block;"><h1>&nbsp;</h1>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="ruler"></div>
</body>