// Overlay when editing and for dialogs
.block-overlay {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  border: 1px dotted rgba(100, 100, 100, 0.8);

  &.left {
    border-left: none;
  }

  &.top {
    border-top: none;
  }

  &.block-hover {
//    border-bottom: 3px solid rgba(66, 66, 66, 0.8);
//    border-right: 3px solid rgba(66, 66, 66, 0.8);
//    border: 1px solid rgba(0, 0, 0, 0.8);
//    background-color: rgba(210, 219, 242, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    border: none;
  }

  &.draggable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
}

.dragged-block-overlay {
  position: absolute;
  background-color: rgba(00, 102, 204, 0.5);
}


.property-overlay  {
  position: absolute;
  border: 1px dotted rgba(100, 100, 100, 0.8);
  cursor: text;


  &.left {
    border-left: none;
  }

  &.top {
    border-top: none;
  }

  &.right {
    border-right: none;
  }

  &.bottom {
    border-bottom: none;
  }

  &.property-hover {
    border: 1px solid rgba(0, 0, 0, 1);
  }

  &.property-no-text {
    cursor: url('/assets/images/blocks/utils/pencil.png'), default;
  }

}


.column-resize-handle {
  position: absolute;
  background-color: #d3d3d3;
  cursor: col-resize;
}

// Classes for the body that force the cursor in a certain style
.force-dragging-cursor {
  cursor: grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: -webkit-grabbing !important;
}

body.force-col-resize-cursor, body.force-col-resize-cursor *  {
  cursor: col-resize !important;
}

// Class put when a property is content-editable and active
// so when cvan set the outline we want for this property
.property-edit {
  outline: 1px dotted rgba(100, 100, 100, 0.8);
}

.canvas {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}


.not-visible {
  opacity: 0.2;
  -webkit-filter: blur(5px) grayscale(1);
  -moz-filter: blur(5px) grayscale(20%);
  -o-filter: blur(5px) grayscale(20%);
  -ms-filter: blur(5px) grayscale(20%);
  filter: blur(5px) grayscale(1);
}



.blocks-selected-block {
  outline: 1px dotted rgba(0, 0, 0, 0.8);
  outline-offset: 3px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



iframe {
  pointer-events: none;
}

// force for height wrapping divs
.image {
  display: inline-block;
}

iframe.edit {
  pointer-events: auto;
}
// ckeditor also uses iframes
iframe.cke_panel_frame  {
  pointer-events: auto;
}

// Div that contains the panel for the backend
.admin-backend {
  padding: 10px 10px;
}


// used to flip to backend
.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);

}


.blocks-resizing {
  cursor: col-resize;
}

//// grijze vlakken die over de blocken waarnaast gedropt zal worden, wordt gelegd.
//.blocks-dropspot {
//
//}
//
//// locatie container voor de pijl
//.droppointer-arrow-container {
//
//}
//// De pijltjes tijdens het draggen
//// font size is automatisch!
//.droppointer-arrow {
//  color: deepskyblue;
//}


// container type btn-group-xs waar alle knopjes inzitten.
// Wordt gecentreerd
.block-menu {
  right: 100%;
  min-width:150px;
  max-width: 100%;

  .block-menu-handle {
    font-size: 20px;
    padding: 8px 8px 4px 8px;
    border: 2px solid black;
    background-color: white;
    opacity: 0.4;
    float: right;
    clear: both;
    cursor: pointer;
  }

  .block-menu-item {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 7px 5px 7px 5px;
    float: right;
    clear: both;
    display: none;
    min-width: 150px;
  }

  &.open .block-menu-item  {
    display: block;

    &.disabled {
      display: none;
    }
  }
}



.blocks-main-menu {
  position: fixed;
  top: 0px;
  width: 100%;
  min-height: 40px;
  font-size: 35px;
  z-index: 9999;
  background-color: grey;
  display: none;
  padding: 10px;

  a {
    margin-left: 10px !important;

  }

  .drag-block-container {
    width: 300px;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;

    .drag-block-text {
      width: 100px;
      height: 40px;
      background-image: url("/assets/images/blocks/utils/Text-Button.svg");
      background-position: left;
      background-size: contain;
    }
  }

  .main-menu-items {

  }
}

.blocks-main-menu.open {
  display: block;
}



.blocks-main-edit-button {
  position: fixed;
  font-size: 40px;
  right: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 10000;
}



