.blue {
  background-color: cornflowerblue;
}

.red {
  background-color: indianred;
}

.yellow {
  background-color: #ffff00;
}

.green {
  background-color: mediumseagreen;
}

.column{
  min-height: 250px;
  padding: 0px;
}

.row {
  margin: 0px;
}

.ruler {
  position: absolute;
  background-color: black;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
}