<!--<div>-->



    <!--<div typeof="paragraph" property="paragraph2" class="text col-md-6" blueprint>-->
        <!--<div property="paragraph-content" can-edit>-->
            <!--<p>Hier is ruimte voor tekst</p>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row can-layout"  typeof="exhibitions" can-layout blueprint>-->
        <!--<div class="column col-md-12">-->
            <!--<div class="exhibitions row">-->
                <!--<article id="houtbewerking" property="exib1" typeof="exhibition" class="column exhibition square col-md-4" blueprint>-->
                    <!--<a href="" title="">-->
                        <!--<span class="square-inner bgbrown ">-->
                            <!--<header>-->
                                <!--<h3 property="exhibition-title" can-edit>Houtbewerking</h3>-->
                            <!--</header>-->
                            <!--<img property="exhibition-image" can-edit alt="" src=""/>-->
                        <!--</span>-->
                    <!--</a>-->
                <!--</article>-->
                <!--<article id="was"  property="exib2"  typeof="exhibition" class="column exhibition square col-md-4">-->

                <!--</article>-->
                <!--<article id="smid"  property="exib3"  typeof="exhibition" class="column exhibition square col-md-4">-->

                <!--</article>-->
            <!--</div>-->
            <!--<div class="exhibitions row " >-->
                <!--<article id="rijstteelt"  property="exib4"  typeof="exhibition" class="column exhibition square col-md-4">-->

                <!--</article>-->
                <!--<article id="molen"  property="exib5"  typeof="exhibition" class="column exhibition square col-md-4">-->

                <!--</article>-->
                <!--<article typeof="what-button"  property="exib6"  class="column what-button square col-md-4">-->
                    <!--<a href="" title="">-->
                        <!--<span class="square-inner">-->
                            <!--<header >-->
                                <!--<h3 can-edit property="title">Een titel hier</h3>-->
                            <!--</header>-->
                            <!--<img alt="" src=""/>-->
                        <!--</span>-->
                    <!--</a>-->
                <!--</article>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="buildings row">-->
        <!--<article typeof="building" class="building col-sm-6 col-md-3 col-lg-3" blueprint>-->
            <!--<a href="" title="">-->
                <!--<img property="building-image" can-edit alt="" src="../../assets/media/images/guldendal.jpg"/>-->
                <!--<header>-->
                    <!--<h3 property="building-title" class=" can-edit red">Guldendal</h3>-->
                    <!--<p property="building-subtitle" class=" can-edit red">Stallingen van het kasteel</p>-->
                <!--</header>-->
                <!--<p property="building-text" can-edit>-->
                    <!--Open het hele jaar door, elke weekdag van 9 tot 5 en van april tot oktober ook in het weekend van 2 tot 6-->
                <!--</p>-->
            <!--</a>-->
        <!--</article>-->
        <!--<article typeof="building" class="building col-sm-6 col-md-3 col-lg-3"></article>-->
        <!--<article typeof="building" class="building col-sm-6 col-md-3 col-lg-3"></article>-->
        <!--<article typeof="building" class="building col-sm-6 col-md-3 col-lg-3"></article>-->
        <!--<article typeof="building" class="building col-sm-6 col-md-3 col-lg-3"></article>-->
        <!--&lt;!&ndash;<article typeof="building" class="building col-sm-6 col-md-3 col-lg-3">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="" title="">&ndash;&gt;-->
        <!--&lt;!&ndash;<img property="building-image" alt="" src="../../assets/media/images/tommenmolen.jpg"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<header>&ndash;&gt;-->
        <!--&lt;!&ndash;<h3 property="building-title" class="red">Tommenmolen</h3>&ndash;&gt;-->
        <!--&lt;!&ndash;<p property="building-subtitle" class="red">Graanwatermolen</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</header>&ndash;&gt;-->
        <!--&lt;!&ndash;<p property="building-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Open van april tot oktober in het weekend van 2 tot 6&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</article>&ndash;&gt;-->
        <!--&lt;!&ndash;<article typeof="building" class="building col-sm-6 col-md-3 col-lg-3">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="" title="">&ndash;&gt;-->
        <!--&lt;!&ndash;<img property="building-image" alt="" src="../../assets/media/images/liermolen.jpg"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<header>&ndash;&gt;-->
        <!--&lt;!&ndash;<h3 property="building-title" class="red">Liermolen</h3>&ndash;&gt;-->
        <!--&lt;!&ndash;<p property="building-subtitle" class="red">Graanwatermolen</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</header>&ndash;&gt;-->
        <!--&lt;!&ndash;<p property="building-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Open van april tot oktober in het weekend van 2 tot 6&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</article>&ndash;&gt;-->
        <!--&lt;!&ndash;<article typeof="building" class="building col-sm-6 col-md-3 col-lg-3">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="" title="">&ndash;&gt;-->
        <!--&lt;!&ndash;<img property="building-image" can-edit alt="" src="../../assets/media/images/prinsenkasteel.jpg"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<header>&ndash;&gt;-->
        <!--&lt;!&ndash;<h3 property="building-title" class="red">Prinsenkasteel</h3>&ndash;&gt;-->
        <!--&lt;!&ndash;<p property="building-subtitle" class="red">Ruïnes van het kasteel</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</header>&ndash;&gt;-->
        <!--&lt;!&ndash;<p property="building-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Voorlopig nog niet te bezichtigen&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</article>&ndash;&gt;-->
    <!--</div>-->

<!--</div>-->