<!--<body typeof="mot-basic-page">-->
<!--<header id="header">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<h1 class="col-md-2" id="logo"><a href="index" title="">MOT</a></h1>-->
            <!--<div id="navigation">-->
                <!--<div class="col-md-10">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-12 contact">-->
                            <!--<ul>-->
                                <!--<li>+32 2 270 81 11</li>-->
                                <!--<li><a href="mailto:info@mot.be" title="">info@mot.be</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div id="accessibility" class="row">-->
                        <!--<div class="col-md-12">-->
                            <!--<div class="fontsize">-->
                                <!--<ul>-->
                                    <!--<li class="smaller"><a href="" title="">A</a></li>-->
                                    <!--<li class="larger"><a href="" title="">A</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<nav class="languages">-->
                                <!--<ul>-->
                                    <!--<li><a class="active" href="" title="">nl</a></li>-->
                                    <!--<li><a href="" title="">fr</a></li>-->
                                    <!--<li><a href="" title="">en</a></li>-->
                                <!--</ul>-->
                            <!--</nav>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div id="menu" class="row">-->
                        <!--<nav class="col-md-9">-->
                            <!--<ul>-->
                                <!--<li><a class="active" href="museum" title="">museum</a></li>-->
                                <!--<li><a href="beleving" title="">beleving</a></li>-->
                                <!--<li><a href="praktisch" title="">praktisch</a></li>-->
                            <!--</ul>-->
                        <!--</nav>-->
                        <!--<div class="col-md-3 search-button">-->
                            <!--<a href="opzoeken" title="">Opzoeken!</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<span id="mobilebutton"><img src="../../assets/media/images/mobilebutton.svg" alt=""/></span>-->
        <!--</div>-->
    <!--</div>-->
<!--</header>-->
<!--<section class="page">-->
    <!--<div class="container">-->
        <!--<div class="pagetitle row">-->
            <!--<header property="pagetitle-breadcrumb" typeof="page-title" class="col-md-12" blueprint>-->
                <!--<nav  class="breadcrumb">-->
                    <!--<ul>-->
                        <!--<li><a href="" title="" property="base">het MOT</a>\</li>-->
                        <!--<li><span property="bc2" class="can-edit">museum</span></li>-->
                    <!--</ul>-->
                <!--</nav>-->
                <!--<h2 property="pagetitle-title" can-edit class="can-edit red">Het museum</h2>-->
            <!--</header>-->
        <!--</div>-->
        <!--<div class="sectiontitle row">-->
            <!--<header property="section" typeof="section-title" class="col-md-12" blueprint>-->
                <!--<h3 property="title" class="red can-edit" >Onze tentoonstellingen</h3>-->
            <!--</header>-->
        <!--</div>-->


        <!--<div property="freeflow" typeof="layout-block" class="row can-layout" blueprint>-->
                <!--<div typeof="titled-paragraph" property="paragraph1" class="textpage-content col-md-12" blueprint >-->
                    <!--<h3 property="paragraph-title"  class="can-edit ">Adres</h3>-->
                    <!--<div property="paragraph-content" class="can-edit">-->
                        <!--<p>het MOT | Museum voor de Oudere Technieken</p>-->
                        <!--<p>Guldendal 20 - 1950 Grimbergen</p>-->
                        <!--<p>T 02 270 81 11</p>-->
                        <!--<p>F 02 270 09 83</p>-->
                        <!--<p><a href="mailt:info@mot.be" title="">info@mot.be</a></p>-->
                    <!--</div>-->
                <!--</div>-->
        <!--</div>-->



    <!--</div>-->
<!--</section>-->
<!--<footer property="footer" tyopeof="footer">-->
    <!--<div property="sponsors" typeof="sponsors" id="sponsors" class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<ul class="sponsor-list">-->
                    <!--<li property="sponsor"><a href="" title=""><img src="../../assets/media/images/erkendmuseum.png" alt="" /></a></li>-->
                    <!--&lt;!&ndash;<li property="sponsor"><a href="" title=""><img src="../../assets/media/images/vlaamseoverheid.png" alt="" /></a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li property="sponsor"><a href="" title=""><img src="../../assets/media/images/provincie-vlaamsbrabant.png" alt="" /></a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li property="sponsor"><a href="" title=""><img src="../../assets/media/images/grimbergen.png" alt="" /></a></li>&ndash;&gt;-->
                    <!--<p>Deze website kwam tot stand met de steun van de Provincie Vlaams-Brabant</p>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div id="lastline">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<p id="copy"><img src="../../assets/media/images/copy.jpg" alt=""/>Je mag teksten hergebruiken als je de bron vermeldt.</p>-->
                    <!--<p id="creds">Website by <a href="http://www.beligum.com" title="">Beligum</a> &amp; <a href="http://www.zologie.com" title="">Zologie</a></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->

<!--</body>-->