<!DOCTYPE html>
<html lang="nl">
<head>
    <title>MOT - museum</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="icon" href="favicon.ico">

    <link href="/assets/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!--<link href="/assets/stylesheets/styles.less" rel="stylesheet" />-->
    <link href="/assets/stylesheets/blocks.less" rel="stylesheet" />

    <link href="../../assets/media/css/screen.css" rel="stylesheet" media="screen">
    <link href="../../assets/media/css/responsive.css" rel="stylesheet" media="screen">
    <script src="../../assets/media/js/jquery-1.11.0.min.js"></script>
    <script src="../../assets/media/js/modernizr.js"></script>
    <script src="../../assets/media/js/less.js"></script>
    <script src="//use.typekit.net/mvl7xyt.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    <script src="/assets/javascripts/blocks.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/core.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/broadcaster.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/layout.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/utils/dom-manipulation.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/elements.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/mouse.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/resizer.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/dragdrop.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/blockmenu/blockmenu.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/blockmenu/blockmenu-buttons.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/blockmenu/dragbutton.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/utils/layout-aid.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/utils/notification.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/blockmenu/edit.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/blockmenu/admin.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/blockmenu/create.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/overlay.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/blocks/image.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/blocks/video.js" type="application/javascript" ></script>

    <script src="/assets/javascripts/ckeditor/ckeditor.js" type="application/javascript" ></script>
    <script src="/assets/javascripts/ckeditor/adapters/jquery.js" type="application/javascript" ></script>
</head>
<body class="can-layout">
    <header id="header">
        <div class="container">
            <div class="row">
                <h1 class="col-md-2" id="logo"><a href="index" title="">MOT</a></h1>
                <div id="navigation">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12 contact">
                                <ul>
                                    <li>+32 2 270 81 11</li>
                                    <li><a href="mailto:info@mot.be" title="">info@mot.be</a></li>
                                </ul>
                            </div>
                        </div>
                        <div id="accessibility" class="row">
                            <div class="col-md-12">
                                <div class="fontsize">
                                    <ul>
                                        <li class="smaller"><a href="" title="">A</a></li>
                                        <li class="larger"><a href="" title="">A</a></li>
                                    </ul>
                                </div>
                                <nav class="languages">
                                    <ul>
                                        <li><a class="active" href="" title="">nl</a></li>
                                        <li><a href="" title="">fr</a></li>
                                        <li><a href="" title="">en</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div id="menu" class="row">
                            <nav class="col-md-9">
                                <ul>
                                    <li><a class="active" href="museum" title="">museum</a></li>
                                    <li><a href="beleving" title="">beleving</a></li>
                                    <li><a href="praktisch" title="">praktisch</a></li>
                                </ul>
                            </nav>
                            <div class="col-md-3 search-button">
                                <a href="opzoeken" title="">Opzoeken!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <span id="mobilebutton"><img src="../../assets/media/images/mobilebutton.svg" alt=""/></span>
            </div>
        </div>
    </header>
    <section class="page">
        <div class="container">
            <div class="pagetitle row">
                <header typeof="pagetitle" class="col-md-12">
                    <nav property="pagetitle-breadcrumb" class="breadcrumb">
                        <ul>
                            <li><a href="" title="">het MOT</a>\</li>
                            <li><span>museum</span></li>
                        </ul>
                    </nav>
                    <h2 property="pagetitle-title" class="red">Het museum</h2>
                </header>
            </div>
            <div class="sectiontitle row">
                <header typeof="sectiontitle" class="col-md-12">
                    <h3 class="red" can-edit>Onze tentoonstellingen</h3>
                </header>
            </div>
            <div class="row can-layout">
                <div class="column col-md-12">
                    <div class="exhibitions row" >
                        <article id="houtbewerking" typeof="exhibition" class="column exhibition square col-md-4">
                            <a href="" title="">
                        <span class="square-inner bgbrown ">
                            <header>
                                <h3 property="exhibition-title">Houtbewerking</h3>
                            </header>
                            <img property="exhibition-image" alt="" src=""/>
                        </span>
                            </a>
                        </article>
                        <article id="was" typeof="exhibition" class="column exhibition square col-md-4">
                            <a href="" title="">
                        <span class="square-inner bgorange">
                            <header>
                                <h3 property="exhibition-title">Sterke vrouwen, zware was</h3>
                            </header>
                            <img property="exhibition-image" alt="" src=""/>
                        </span>
                            </a>
                        </article>
                        <article id="smid" typeof="exhibition" class="column exhibition square col-md-4">
                            <a href="" title="">
                        <span class="square-inner bgdarkblue">
                            <header>
                                <h3 property="exhibition-title">De smid. Baas van ijzer en vuur</h3>
                            </header>
                            <img property="exhibition-image" alt="" src=""/>
                        </span>
                            </a>
                        </article>
                    </div>
                    <div class="exhibitions row " >
                        <article id="rijstteelt" typeof="exhibition" class="column exhibition square col-md-4">
                            <a href="" title="">
                        <span class="square-inner bggreen">
                            <header>
                                <h3 property="exhibition-title">De rijstteelt in het vroegere Japan</h3>
                            </header>
                            <img property="exhibition-image" alt="" src=""/>
                        </span>
                            </a>
                        </article>
                        <article id="molen" typeof="exhibition" class="column exhibition square col-md-4">
                            <a href="" title="">
                        <span class="square-inner bgblue">
                            <header>
                                <h3 property="exhibition-title">Molen en malen</h3>
                            </header>
                            <img property="exhibition-image" alt="" src=""/>
                        </span>
                            </a>
                        </article>
                        <article typeof="what-button" class="column what-button square col-md-4">
                            <a href="" title="">
                        <span class="square-inner">
                            <header can-edit>
                                <h3>Een titel hier</h3>
                            </header>
                            <img alt="" src=""/>
                        </span>
                            </a>
                        </article>
                    </div>
                </div>
            </div>


            <div class="sectiontitle row">
                <header typeof="sectiontitle" class="col-md-12">
                    <h3 class="red">Onze gebouwen</h3>
                </header>
            </div>
            <div class="buildings row">
                <article typeof="building" class="building col-sm-6 col-md-3 col-lg-3">
                    <a href="" title="">
                        <img property="building-image" alt="" src="../../assets/media/images/guldendal.jpg"/>
                        <header>
                            <h3 property="building-title" class="red">Guldendal</h3>
                            <p property="building-subtitle" class="red">Stallingen van het kasteel</p>
                        </header>
                        <p property="building-text">
                            Open het hele jaar door, elke weekdag van 9 tot 5 en van april tot oktober ook in het weekend van 2 tot 6
                        </p>
                    </a>
                </article>
                <article typeof="building" class="building col-sm-6 col-md-3 col-lg-3">
                    <a href="" title="">
                        <img property="building-image" alt="" src="../../assets/media/images/tommenmolen.jpg"/>
                        <header>
                            <h3 property="building-title" class="red">Tommenmolen</h3>
                            <p property="building-subtitle" class="red">Graanwatermolen</p>
                        </header>
                        <p property="building-text">
                            Open van april tot oktober in het weekend van 2 tot 6
                        </p>
                    </a>
                </article>
                <article typeof="building" class="building col-sm-6 col-md-3 col-lg-3">
                    <a href="" title="">
                        <img property="building-image" alt="" src="../../assets/media/images/liermolen.jpg"/>
                        <header>
                            <h3 property="building-title" class="red">Liermolen</h3>
                            <p property="building-subtitle" class="red">Graanwatermolen</p>
                        </header>
                        <p property="building-text">
                            Open van april tot oktober in het weekend van 2 tot 6
                        </p>
                    </a>
                </article>
                <article typeof="building" class="building col-sm-6 col-md-3 col-lg-3">
                    <a href="" title="">
                        <img property="building-image" alt="" src="../../assets/media/images/prinsenkasteel.jpg"/>
                        <header>
                            <h3 property="building-title" class="red">Prinsenkasteel</h3>
                            <p property="building-subtitle" class="red">Ruïnes van het kasteel</p>
                        </header>
                        <p property="building-text">
                            Voorlopig nog niet te bezichtigen
                        </p>
                    </a>
                </article>
            </div>
        </div>
    </section>
    <footer>               
        <div typeof="sponsors" id="sponsors" class="container">
            <div class="row">
                 <div class="col-md-12">
                    <ul class="sponsor-list">
                        <li property="sponsor"><a href="" title=""><img src="../../assets/media/images/erkendmuseum.png" alt="" /></a></li>
                        <li property="sponsor"><a href="" title=""><img src="../../assets/media/images/vlaamseoverheid.png" alt="" /></a></li>
                        <li property="sponsor"><a href="" title=""><img src="../../assets/media/images/provincie-vlaamsbrabant.png" alt="" /></a></li>
                        <li property="sponsor"><a href="" title=""><img src="../../assets/media/images/grimbergen.png" alt="" /></a></li>
                        <p>Deze website kwam tot stand met de steun van de Provincie Vlaams-Brabant</p>
                    </ul>
                </div>
            </div>
        </div>
        <div id="lastline">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p id="copy"><img src="../../assets/media/images/copy.jpg" alt=""/>Je mag teksten hergebruiken als je de bron vermeldt.</p>
                        <p id="creds">Website by <a href="http://www.beligum.com" title="">Beligum</a> &amp; <a href="http://www.zologie.com" title="">Zologie</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../../assets/media/js/bootstrap.min.js"></script>
</body>
</html>