<!DOCTYPE html>
<html lang="nl" template="menu-footer">
<head>
    <title>MOT</title>
    <link href="/templates/default-head.html" rel="include">
</head>
<body>

<header id="header">
    <div class="container">
        <div property="menu" blueprint="mot-menu" use-blueprint-old></div>
    </div>
</header>
<section class="page">
    <div class="container">
        <div template-content></div>
    </div>
</section>
<footer>
    <div class="container">
        <div property="footer" blueprint="sponsors" use-blueprint-old></div>
    </div>
    <div id="lastline">
        <div class="container">
            <div property="lastline-content" blueprint="lastline-content" use-blueprint-old></div>
        </div>
    </div>
</footer>

</body>
</html>