<!DOCTYPE html>
<html lang="nl" template="slideshow">
<head>
    <title>MOT</title>
    <link href="/templates/default-head.html" rel="include"/>
</head>
<body>
<header id="header">
    <div class="container">
        <div property="menu" use-blueprint="mot-menu"></div>
    </div>
</header>
<section>
    <div class="container-fluid slideshow">
        <!--<div class="container">-->
            <div property="slideshow" use-blueprint="slideshow-content"></div>
        <!--</div>-->
    </div>
</section>
<section class="page">
    <div class="container-fluid">
        <div template-content></div>
    </div>
</section>
<footer>
    <div class="container-fluid">
        <div property="footer" use-blueprint="sponsors"></div>
    </div>
    <div id="lastline">
        <div class="container">
            <div property="lastline-content" use-blueprint="lastline-content"</div>
        </div>
    </div>
</footer>
</body>
</html>