<!DOCTYPE html>
<html lang="nl" template="slideshow">
<head>
    <title>MOT</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />

    <link href="/templates/default-head.html" rel="include"/>

</head>
<body>
<header id="header">
    <div class="container">
        <div property="menu" typeof="mot-menu" use-blueprint></div>
    </div>
</header>
<section>
    <div class="container-fluid slideshow">
        <!--<div class="container">-->
            <div property="slideshow" typeof="slideshow-content" use-blueprint></div>
        <!--</div>-->
    </div>
</section>
<section class="page">
    <div class="container-fluid">
        <div template-content></div>
    </div>
</section>
<footer>
    <div class="container-fluid">
        <div property="footer" typeof="sponsors" use-blueprint></div>
    </div>
    <div id="lastline">
        <div class="container">
            <div property="lastline-content" typeof="lastline-content" use-blueprint></div>
        </div>
    </div>
</footer>
</body>
</html>