<!DOCTYPE html>
<html lang="nl" template="slideshow">
<head>
    <title>MOT</title>
    <link href="/templates/default-head.html" rel="include"/>
</head>
<body>
<header id="header">
    <div class="container">
        <div property="menu" blueprint="mot-menu" use-blueprint-old></div>
    </div>
</header>
<section>
    <div class="container-fluid slideshow">
        <!--<div class="container">-->
            <div property="slideshow" blueprint="slideshow-content" use-blueprint-old></div>
        <!--</div>-->
    </div>
</section>
<section class="page">
    <div class="container-fluid">
        <div template-content></div>
    </div>
</section>
<footer>
    <div class="container-fluid">
        <div property="footer" blueprint="sponsors" use-blueprint-old></div>
    </div>
    <div id="lastline">
        <div class="container">
            <div property="lastline-content" blueprint="lastline-content" use-blueprint-old></div>
        </div>
    </div>
</footer>
</body>
</html>