#constantsBlock("blocks.common")
    <ul class="$EDITOR_TOOLBAR_CLASS">
        <li><button class="btn" data-command-name="italic"><i class="fa fa-italic"></i></button></li>
        <li><button class="btn" data-command-name="bold"><i class="fa fa-bold"></i></button></li>
        <li><button class="btn" data-command-name="underline"><i class="fa fa-underline"></i></button></li>
        <li><button class="btn" data-command-name="strikeThrough"><i class="fa fa-strikethrough"></i></button></li>
        <li><button class="btn" data-command-name="linkPrompt"><i class="fa fa-link"></i></button></li>
        <li><button class="btn" data-command-name="insertOrderedList"><i class="fa fa-list"></i></button></li>
    </ul>
#end