#if($ERRORS)
<ul class="errors">
    #foreach($error in $ERRORS[$varname])
        <li>$I18N.getMessage($error.messageTemplate, $error.message)</li>
    #end
    #foreach($varname in $varnames)
        #foreach($error in $ERRORS[$varname])
            <li>$I18N.getMessage($error.messageTemplate, $error.message)</li>
        #end
    #end
</ul>
#end